# PANDAS IV: Filtrado de datos

Hoy seguiremos trabajando con el csv de ataques que exploramos ayer. Para eso, ayer guardasteis al final del pair programming al que le hab√≠amos elimiando algunas columnas. Utilizad ese fichero.

En la lecci√≥n de hoy tendr√©is que ir contestando una serie de preguntas que os planteamos. Para ello tendr√©is que aplicar los conocimientos adquiridos en la clase invertida sobre como filtrar datos en el DataFrame y como reemplazar valores en el DataFrame.

### 1. Cargad el csv que guardasteis ayer.

Antes de seguir con las preguntas, este DataFrame est√° terriblemente sucio. En las pr√≥ximas sesiones lo iremos limpiando. Para evitar posibles errores con los nulos vamos a eliminar todos los nulos del DataFrame.

Para ello vamos a utilizar el m√©todo .dropna() de pandas. Tendr√©is que ejecutar la siguiente l√≠nea de c√≥digo para eliminar los nulos del DataFrame y poder seguir haciendo el resto de los ejercicios. ¬øCu√°ntas filas se han eliminado con esta l√≠nea de c√≥digo?

In [ ]:
df.dropna(inplace = True)

### 2. ¬øCu√°l es el n√∫mero de ataques que se han producido en Estados Unidos?

### 3. ¬øY en Espa√±a?

- ¬øEn qu√© regiones se han producido los ataques (columna location)?

- ¬øCu√°ntos ataques se han producido en cada √°rea (columna area)?

### 4. Extraed un DataFrame nuevo con los ataques que se han producido en Australia y Estados Unidos. 

üìå Nota: Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el m√©todo isin(). 
Hacedlo con ambas herramientas.

- ¬øCu√°ntos ataques se han producido en cada pa√≠s?

- ¬øHa habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

- ¬øCu√°ntos ataques se han producido en Australia antes del 2000?

- ¬øY despu√©s del 2000?

### 5. Extraed unicamente los ataques a mujeres.

### 6. ¬øCu√°ntas mujeres fueron atacadas en Espa√±a?

### 7. Extraed los ataques que se hayan producido en el a√±o 2000, 1997 y 2006. 
Utilizad el m√©todo isin() para resolver este ejercicio.

### 8. Si extraemos los valores √∫nicos de la columna species nos podemos dar cuenta que est√° un poco sucia y extraer informacion √∫til de la misma se puede convertir en algo dif√≠cil. 

En este ejercicio tendr√©is que extraer los ataques que han ocurrido por tibur√≥n blanco (lo encontraremos en la columna species como algo que contenga white o White). Usad el m√©todo str.contains() para resolver este ejercicio.

### 9. Extraed ahora los ataques por tibur√≥n blanco o tigre. 
Utilizad el m√©todo str.contains() para resolver este ejercicio.

### 10. Utilizando la columna de year cread una nueva columna llamada siglo que tiene siglo-XX o siglo-XXI. 
Donde el a√±o sea menor que 2000 pondremos siglo-XX y el resto de los a√±os siglo-XXI.

### 11. Guardad como un archivo csv nuevo. Lo usaremos en el pair programming de ma√±ana.