# PANDAS IV: Filtrado de datos

Hoy seguiremos trabajando con el csv de ataques que exploramos ayer. Para eso, ayer guardasteis al final del pair programming al que le habíamos elimiando algunas columnas. Utilizad ese fichero.

En la lección de hoy tendréis que ir contestando una serie de preguntas que os planteamos. Para ello tendréis que aplicar los conocimientos adquiridos en la clase invertida sobre como filtrar datos en el DataFrame y como reemplazar valores en el DataFrame.

In [1]:
import pandas as pd
import numpy as np

### 1. Cargad el csv que guardasteis ayer.

Antes de seguir con las preguntas, este DataFrame está terriblemente sucio. En las próximas sesiones lo iremos limpiando. Para evitar posibles errores con los nulos vamos a eliminar todos los nulos del DataFrame.

Para ello vamos a utilizar el método .dropna() de pandas. Tendréis que ejecutar la siguiente línea de código para eliminar los nulos del DataFrame y poder seguir haciendo el resto de los ejercicios. ¿Cuántas filas se han eliminado con esta línea de código?

In [5]:
df = pd.read_csv('datos/attacks_pandas3.csv')
df.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,4,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6114 entries, 0 to 6113
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  6113 non-null   object
 1   unnamed:_0   6114 non-null   int64
 2   year         6114 non-null   float64
 3   type         6110 non-null   object
 4   country      6074 non-null   object
 5   area         5706 non-null   object
 6   location     5626 non-null   object
 7   activity     5603 non-null   object
 8   name         5914 non-null   object
 9   sex_         5564 non-null   object
 10  age          3448 non-null   object
 11  time         2934 non-null   object
 12  species_     3409 non-null   object
 13  href         6114 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 668.8+ KB

In [8]:
df.dropna(inplace = True)
df.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
13,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1502 entries, 0 to 5905
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  1502 non-null   object
 1   unnamed:_0   1502 non-null   int64
 2   year         1502 non-null   float64
 3   type         1502 non-null   object
 4   country      1502 non-null   object
 5   area         1502 non-null   object
 6   location     1502 non-null   object
 7   activity     1502 non-null   object
 8   name         1502 non-null   object
 9   sex_         1502 non-null   object
 10  age          1502 non-null   object
 11  time         1502 non-null   object
 12  species_     1502 non-null   object
 13  href         1502 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 176.0+ KB

Se han eliminado 4612 filas.

### 2. ¿Cuál es el número de ataques que se han producido en Estados Unidos?

In [10]:
df_usa = df[df["country"] == "USA"]
df_usa.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
35,2018.03.31,35,2018.0,Unprovoked,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,male,M,25,09h30,"Tiger shark, 12'",http://sharkattackfile.net/spreadsheets/pdf_di...
53,2017.12.31,53,2017.0,Unprovoked,USA,Hawaii,"Hultin's Beach, Oahu",Surfing,Marjorie Mariano,F,54,18h00,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
60,2017.11.24,60,2017.0,Unprovoked,USA,California,"Stillwater Cove, Monterey County",Spearfishing,Grigor Azatian,M,25,13h45,"White shark, 4.6 m",http://sharkattackfile.net/spreadsheets/pdf_di...

In [11]:
df_usa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 719 entries, 0 to 5297
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  719 non-null    object
 1   unnamed:_0   719 non-null    int64
 2   year         719 non-null    float64
 3   type         719 non-null    object
 4   country      719 non-null    object
 5   area         719 non-null    object
 6   location     719 non-null    object
 7   activity     719 non-null    object
 8   name         719 non-null    object
 9   sex_         719 non-null    object
 10  age          719 non-null    object
 11  time         719 non-null    object
 12  species_     719 non-null    object
 13  href         719 non-null    object
dtypes: float64(1), int64(1), object(12)
memory usage: 84.3+ KB

### 3. ¿Y en España?

In [13]:
df_spain = df[df["country"] == "SPAIN"]
df_spain.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
98,2017.08.26.b,98,2017.0,Invalid,SPAIN,Castellón,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...
233,2016.07.29,234,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,40,11h30,Blue shark,http://sharkattackfile.net/spreadsheets/pdf_di...
377,2015.08.18.a,378,2015.0,Invalid,SPAIN,Alicante,"Poniente Beach, Benidorm",Swimming,male,M,10,11h00,Shark involvement not confirmed,http://sharkattackfile.net/spreadsheets/pdf_di...
1007,2010.07.16.b,1011,2010.0,Provoked,SPAIN,Grand Canary Island,"Sardina del Norte, Gáldar",Swimming,male,M,9,19h15,Angel shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2469,1993.09.03,2476,1993.0,Unprovoked,SPAIN,Costa Blanca,"Playa de las Arenas, Valencia",Swimming,Jorge Durich Heredia (or Hernandez),M,69,08h00,1.2 m [4'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [14]:
df_spain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 98 to 2469
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  5 non-null      object
 1   unnamed:_0   5 non-null      int64
 2   year         5 non-null      float64
 3   type         5 non-null      object
 4   country      5 non-null      object
 5   area         5 non-null      object
 6   location     5 non-null      object
 7   activity     5 non-null      object
 8   name         5 non-null      object
 9   sex_         5 non-null      object
 10  age          5 non-null      object
 11  time         5 non-null      object
 12  species_     5 non-null      object
 13  href         5 non-null      object
dtypes: float64(1), int64(1), object(12)
memory usage: 600.0+ bytes

- ¿En qué regiones se han producido los ataques (columna location)?

In [17]:
# En Estados Unidos:

df_usa["location"].unique()

array(['Oceanside, San Diego County', 'Cocoa Beach, Brevard  County',
       'Kukio Beach', "Hultin's Beach, Oahu",
       'Stillwater Cove, Monterey County',
       'Davidsons Beach, Kekaha, Kauai', 'Kama\x91ole Beach Park, Maui ',
       'Rockaway', 'Ponce Inlet, Volusia County',
       'Marconi Beach, Wellfleet, Barnstable County',
       'Sea Pines Resort, Hilton Head Island, Beaufort County',
       'Menauhant Beach, Falmouth,\nBarnstable County',
       'Hilton Head Island, Beaufort County',
       'Stearns Wharf, Santa Barbara',
       'Seal Rock, Goleta Beach, Santa Barbara',
       'Haulover Beach, Miami-Dade County', 'Sunset Beach, Orange County',
       'Kekaha Beach, Kauai', 'Destin, Okaloosa County',
       'New Smyrna Beach, Volusia County', 'Kamaole Beach Park I, Maui',
       'Hooipa Beach Park, Maui', 'Ponte Vedra, St. Johns County',
       'Makaha, Oahu', 'Maui', 'Surfside, Orange County',
       'Off Gloucester, Essec County', 'North Myrtle Beach, Horry County',
       'Pirates Beach, Galveston',
       'Atlantic Beach, Emerald Isle, Carteret County',
       'Folly Beach, Charleston County', 'Neptune, Duval County',
       'St. Petersburg, Pinellas County', 'Boca Raton, Palm Beach County',
       'Wailea Beach, Maui', "La'aloa Beach Park",
       'Paradise Beach, Melbourne, Brevard County',
       'Playalinda Beach, Brevard County',
       'Deerfield Beach, Broward County', 'Waikiki, ',
       'Lanikai Beach, Kailua, Oahu', 'Leftovers, Oahu', 'Galveston',
       'Vilano Beach, St.  Johns County',
       'Upolu Point, North Kohala, Big Island',
       'Fernandina Beach, Amelia Island, Nassau County',
       'El Pescador Beach, Los Angeles County',
       'Deer Creek Beach, Ventura County',
       'Morro Strand State Beach, San Luis Obispo County',
       'Morro Bay, San Luis Obispo County',
       'Murrells Inlet, Georgetown County',
       'Jacksonville Beach, Duval County', 'Santa Barbara County',
       'Cortes Bank', 'Daytona Beach, Volusia County',
       'Edisto Beach, Colleton County', 'Huntington Beach, Orange County',
       'Ocracoke, Lifeguard Beach, National Park Service, Hyde County',
       'Isle of Palms County Park, Isle of Palms, Charleston County',
       'Rodanthe, Dare County',
       'South Beach, Hunting Island State Park, Beaufort County',
       'Surf City', 'Oak Island, Brunswick County',
       'Ocean Isle, Brunswick County',
       'Lori Wilson Park, Cocoa Beach, Brevard  County',
       "Resident's Beach, Marco Island",
       '3 miles off Jupiter, Palm Beach County', 'Hapuna Beach',
       'Lahaina', 'Montaña de Oro State Park, San Luis Obispo County ',
       'Indian Harbor Beach, Brevard County',
       'Airplane Beach, Lahina, West Maui', 'North Kohala, Hawaii County',
       'Walls Beach, Vandenberg AFB, Santa Barbara County',
       'Katrina Cut, Dauphin Island, Mobile County',
       'Manomet Point, Plymouth, Plymouth County',
       'Fletcher Beach, Hutchinson Island, Martin County',
       'Lake Ponchartain off Southshore Harbor, New Orleans',
       'Paia Bay, Maui', 'Okaloosa Island',
       'Isle of Palms, Charleston County',
       'Cape Henlopen State Park, Sussex County', 'Fort Lauderdale',
       'Coligny Beach, Hilton Head, Beaufort County',
       'Ninole Bay, Hawaii County', 'Gleneden Beach, Lincoln County',
       'Kanaha Beach, Maui', 'Waiehu, Maui', "Pila'a Beach, Kaua'i",
       'Miami Beach', 'Bunkers, Humboldt Bay, Eureka, Humboldt County',
       'Casino Beach, Pensacola, Escambia County',
       'New Smyrna Beach,  Volusia County',
       'St Augustine Beach, St Johns County', 'Makenat, Maui',
       'Folly Beach', 'Sanibel Island, Lee County',
       'White Plains Beach, Oahu', 'Kiawah Island, Charleston County',
       'Kona Coast State Park', 'Myrtle Beach, Horry County',
       'Melbourne Beach, Brevard County',
       'Near Boynton Beach, Palm Beach County', 'Ka\x92anapali Shores',
       '"Stuart Rocks", Martin County', 'Kiholo Bay', 'Kauai',
       'Kihei, Maui', 'Makena Landing, Maui',
       "Davidson's Surf Break, Kekaha, Kaua'i",
       'Humboldt Bay, Eureka, Humboldt County',
       'Surf Beach, Lompoc, Santa Barbara County',
       'Spanish House Beach, Brevard County', 'Key Largo',
       'Ballston Beach, Truro, Cape Cod',
       'Pleasure Point, Santa Cruz County',
       'Juno Beach, Palm Beach County', 'Kahana Beach, Maui',
       'Summerland Key, Monroe County',
       'Avon, Hatteras Island, Outer Banks, Dare County',
       'Jacksonville, Duval County',
       'Leffingwell Landing, Cambria,  San Luis Obispo County',
       'Off Catalina Island', 'Indialantic, Brevard County',
       "Leftovers near Chun's Reef, Oahu", 'Jensen Beach, Martin County ',
       'Hatillo Beach', 'Santa Maria Island, Manatee County',
       'New Smyrna Beach', 'Crescent Beach St. Johns County',
       'Kure Beach, New Hanover County',
       'North Topsail Beach, Onslow County',
       'Off Jupiter Inlet, Palm Beach County', ' Kahului, Maui',
       'Burnt Cove near Eastport, Washington County',
       'Surf Beach, Vandenberg AFB, Santa Barbara County',
       'Winchester Bay', 'Micklers Landing, St. Johns County',
       'Myrtle Beach', 'Wrightsville Beach, New Hanover County',
       'Off Long Island', 'Pismo Beach, San Luis  Obispo County',
       'Dog Patch, San Onofre', 'Jacksonville', 'Off Tarpon Springs',
       'Hanalei Bay', 'Hanalei Bay, Kauai', 'Adventure Aquarium, Camden',
       'Lori Wilson Park, Cocoa Beach, Brevard County',
       'Loch Lomond, Marin County', 'Kalama Park, Maui',
       'Corolla, Currituck County',
       'Terramar Beach, Carlsbad, San Diego County',
       'Curlew Island, Breton Sound', 'Biscayne National Park, Miami',
       'Walton Rocks, St Lucie County', 'Alenuihaha Channel',
       'Bethune Beach', "Ka'a'awa, Oahu",
       "McKenzie Beach Park in Pahoa, Hawai'i ",
       'Surf City, Topsail Island, Pender County', 'Buck Island',
       'Topsail Island, Pender County', "Kamilo Point, Hawai'i",
       'West Cove, Catalina Island', 'Cherry Grove',
       'Solana Beach, San Diego County',
       'Playalinda Beach, Canaveral National Seashore, Brevard County',
       'New Smyrna Beach / Ponce Inlet, Volusia County',
       'South of Ponce de Leon Jetty, New Smyrna Beach, Volusia County',
       'Lovers Key State Park, Bonita Springs, Lee County',
       ' Huntington Beach, Orange County', "Waialua Bay, O'ahu",
       'Round Island Park, Indian River County', 'Wailea, Maui',
       'Venice Pier, Venice, Los Angeles County',
       'Flagler Beach, Flagler County',
       'Lauderdale-by-the-Sea, Broward County',
       'Fort Lauderdale, Broward County',
       'Marina State Beach, Monterey County', 'Sarasota Bay',
       'Islamorada, Monroe County',
       'Bellows Beach near Wailea Point, O\x92ahu',
       'North Topsail Beach, Onslow  County',
       'Faria Beach, Ventura County', 'Atlantic Beach, Carteret County',
       'Virginia Aquarium & Marine Science Center, Virginia Beach ',
       'Keawakapu Beach, Maui', 'Naples',
       'Hutchinson Island, St. Lucie County',
       'Normandy Beach, Hutchinson Island,  St. Lucie County',
       'Jupiter Inlet', 'Smith Point, Long Island', "Majors Bay, Kaua'i",
       'Dillon Beach, Marin County', 'Siletz River mouth, Lincoln County',
       'Singer Island, Riviera Beach', 'Oswald State Park',
       'Singleton Beach, Hilton Head Island, Beaufort County',
       'Debordieu Beach, Georgetown County', "O'ahu", 'Lanai',
       'Gun Beach', 'Port of the Islands, Collier County',
       "Leftovers, near Waimea Bay, O'ahu", 'Makena, Maui',
       "Off Pu'u Ola'l, Makena, Maui", 'Tillamook Head, Clatsop County',
       'Ponce Inlet, New Smyrna Beach, Volusia County',
       'New Smyrna  Beach, Volusia County',
       'Ocean Beach, San Francisco, San Francisco County',
       'Klamath River mouth, Del Norte County',
       'Salmon Beach, Sonoma County', 'Honokowai, Maui',
       'Scripps, LaJolla, San Diego County',
       '6th Avenue North, Myrtle Beach, Horry County',
       '34th Avenue North, Myrtle Beach, Horry County',
       'Carolina Beach off Texas Avenue, New Hanover County',
       'Quarter mile south of Ponce de Leon Inlet, Volusia County',
       'Holden Beach, Brunswick County', 'Port Bolivar, Galveston County',
       'Cape San Blas, Gulf County', 'Destin, Walton County',
       'Howard E. Futch Memorial Park at Paradise Beach, Brevard County',
       'Surf City, Long Beach Island, Ocean County',
       'Daytona Beach Shores', "Noreiga's, Maui",
       'Albuquerue Aquarium, Albuquerue', "Moloka'i", 'Gold  Beach',
       'North of Apache Pier, Myrtle Beach, Horry County',
       'Kibesillah, Mendocino County',
       'Big Bayou, St. Petersburg, Pinellas County ',
       'Carolina Beach, New Hanover County', 'Galveston Island',
       'Bryan Beach, Brazoria County',
       'Gulf Shores Beach, Baldwin County',
       'San Onofre State Beach, San Diego County',
       'Daytona Beach Shores, Volusia County',
       "Pirate's Beach, Galveston Island", 'Salmon Creek, Sonoma County',
       'Channel between South Padre Island & Padre Island National Seashore',
       'Stuart Rocks, Martin County', 'Kalihiwai Beach, Kauai',
       'Ponte Vedra Beach, St. Johns County',
       "Tunnels surf break off Makua Beach, Kaua'i", 'Honolua Bay',
       'Near Patrick Air Force Base Brevard County',
       'Cove Beach / Kalama Beach, Kihei, Maui',
       'Bathtub Reef Beach, Martin County',
       'Daytona Beach, Volusia County ',
       'Avila Beach, San Luis Obispo County',
       'Venice Beach, Los Angeles County',
       'Near New Smyrna Jetty, Volusia County',
       'St Augustine Beach. St. Johns County',
       'Cocoa Beach, Brevard County', 'Makua Beach, Oahu',
       'Masonboro Island, New Hanover County',
       'Ponce de Leon Inlet, Volusia County ',
       'Between Magic Sands Beach and Kahaluu Beach on the Kona coast',
       'Melbourne Beach, Brevard County ',
       'Shepard Park, Cocoa Beach, Brevard County ',
       'Sunglow Pier, Daytona Beach Shores, Volusia County',
       'New Smyrna Beach, Volusia County  ',
       'North Beach, Patrick AFB, Brevard County',
       'Jupiter, Palm Beach County', "Ka'anapali",
       "Kama'ole Beach Park I, Kihei, Maui",
       'Ormond Beach, Volusia County', "Kahala, O'ahu",
       'Key Largo, Monroe County', 'Cape Kiwanda',
       'Moonstone Beach, Humboldt County', "Kewalo Basin Channel, O'ahu",
       'Vero Beach, Indian River County', 'Topsail Beach, Pender County',
       'Emerald Isle, Carteret County',
       "100 miles off Ocean City, Maryland, in 7000' of water",
       'South of Ponce Inlet, New Smyrna Beach, Volusia County',
       'Stinson Beach, Marin County',
       'St. George Island (near Apachicola), Franklin County',
       'a pier at the end of Caxambas Drive, Marco Island ',
       'St. Augustine Beach, St. Johns County',
       'Lauderdale-By-The-Sea, Broward County',
       "Brenecke Beach, Po'ipu, Kaua'i",
       'Deerfield Beach (near Boca Raton), Broward County',
       'Olowalu, Maui', '2 miles off Pompano Beach, Broward County',
       'A quarter mile north of Fort Pierce Inlet',
       'Mayport Naval Station, Jacksonville, Duval Country',
       'Sandbridge Beach, Princess Anne County',
       'Daytona, Volusia County ', 'Amelia Island, Nassau County',
       'Gulf Islands National Seashore', 'Catalina Island',
       'Off 21st Avenue, Isle of Palms, Charleston County',
       'New Smyrna Beach / Waveland, Volusia County',
       'Bethune Beach, south of New Smyrna Beach, Volusia County',
       'Bonita Springs, Lee County',
       '1/4 to 1/2 m north of the jetty at Bunkers, Eureka, Humboldt County',
       'Olowalu', 'Lake Worth Inlet/West Palm Beach, Palm Beach County',
       'Boca Ciega Bay, Tampa, Pinellas County',
       'South Jacksonville Beach, Duval County',
       'St. Augustine, St. Johns County',
       'Pine Island, Corolla, Currituck County',
       'Artifical reef 3 miles off Manatee Beach, Manatee County',
       'Smyrna Dunes  Park, New Smyrna Beach, Volusia County',
       'Smyrna Dunes Park, New Smyrna Beach, Volusia County',
       'J.P. Luby Surf Park, Corpus Christi',
       'Gulf Shores, Baldwin County', 'Floridana Beach, Brevard County',
       'Midnight Lump (38 miles offshore)',
       'Big Island off Kona Village Resort, North Kona',
       'Old Kona Airport State Park',
       'North of Pidgeon Point, San Mateo County',
       'Grand Strand, Myrtle Beach, Horry County',
       'Two miles off Key Colony Beach, Monroe County',
       "Honoli'i in Hilo (west side of Big Island)",
       'Pensacola  Beach, Escambia County',
       'South of Ponce Inlet, Volusia County',
       'Atlantic Dunes Park, Delray Beach, Palm Beach County',
       'Quarter mile offshore in Kaanapali, West Maui',
       'Hobe Sound, Martin County',
       'Ocean Beach, Jaycee Park, Vero Beach, Indian River County',
       'South Beach Park, Indian River County',
       'Pecks Lake, Martin County', 'Gleneden Beach',
       'Loggerhead Park, Juno Beach, Palm Beach County',
       "Waiokapua Bay/Majors Bay, Brennecke Beach, Poipu, Kaua'i Island",
       'North Jetty, Fort Pierce Inlet State Park, St. Lucie County',
       'Clam Beach, near Eureka, Humboldt County', ' Palm Beach County',
       'Daytona Beach Shores,  Volusia County',
       'In Gulf of Mexico 17 miles off Weeki Wachee ',
       'Salmon Creek Beach, Sonoma County',
       'North Salmon Creek Beach, Sonoma County',
       'Garden City Beach, Horry County', 'Paukukalo, Maui',
       'Bird Rock, Tomales Point',
       'Bayshore Garden, Sarasota Bay, Sarasota County',
       'Public Beach, Siesta Key, Sarasota County',
       'Shark Shallows, Ponce Inlet, Volusia County',
       'Ka\x92eleki\x92I Point, Maui',
       'Crescent Beach, St. Augustine, St. Johns County',
       'Davenport Landing, Santa Cruz County',
       'Shelter Cove, Humboldt County',
       'Crescent Beach, St. Johns County',
       'Ponce de Leon Inlet, Volusia County',
       'Off Masonboro Island, New Hanover County',
       'Bluefish Cove, Pt. Lobos State Park, Monterey County',
       'Jensen Beach Park, Martin County',
       'Tiger Shores Beach, Martin County',
       'Opposite Grand Wailea Resort, Wailea, Maui',
       'San Miguel Island, Santa Barbara County',
       "Off the Hanalei River, Kaua'i",
       'Bill Baggs Cape Florida State Recreation Area, Miami-Dade County',
       'Short Sand Beach, Oswald West State Park', 'Makaha Surf Beach',
       ' Daytona Beach, Volusia County',
       '"Bunkers" Eureka, Humboldt County',
       'Treasure Shores Beach, Indian River County',
       'Goat Rock, Bodega Bay, Sonoma County?', 'Pamlico Sound',
       'Abalone Point, Westport Union Landing, Mendocino County',
       "Goats Island (Moku\x92auia Island), Malaekahana State Recreation Area, Laie, O'ahu",
       'Hamstead, Pender County',
       'Paradise Bay (next to Wailua Bay), Maui',
       'Linda Mar Beach, Pedro Point, San Mateo County',
       'Bastendorf Beach, Coos County', "Honomuni, Moloka'i",
       "Chun's Reef, Laniakea, O'ahu", 'San Onofre, San Diego County ',
       'Brevard County, a mile north of Sebastian Inlet',
       'Ano Nuevo, San Mateo County',
       'San Nicholas Island, Santa Barbara County',
       "Kea'au Beach Park, O'ahu",
       'Castle Rock, San Miguel Island, Santa Barbara County',
       "Lanaikea, O'ahu", 'Gold Beach, Curry County',
       'Klamath River, Del Norte County',
       'Manasota Beach, Sarasota County',
       "Cannons, at Ha'ena on the north shore of Kaua'i Island",
       'Winchester Bay, Douglas County',
       'Shelter Cover, north of Fort Bragg, Shelter Cove, Mendocino County',
       'Horseshoe Reef, Scott Creek, Davenport, Santa Cruz County',
       '8.5 miles south of Ano Nuevo State Reserve, Davenport County',
       'Tampa Bay, Hillsborough County', "Ma'ili Beach, O'ahu",
       'Neskowin, Tillamook County',
       'Spanish River Park Beach, Palm Beach County',
       'North end of County Beach, Palm Beach County',
       "Hanalei Point, Kaua'i", 'Stuart Beach, Martin County',
       'Russian Gulch, Jenner, Sonoma County',
       'Trinidad State Beach, Humboldt County',
       'Trinidad Head, Humboldt County', 'Surfside Beach',
       'Between Wrightsville Beach & Carolina Beach, New Hanover County',
       'Gulf of Mexico, 22 miles from Pensacola',
       'Southeast Farallon Island, Farallon Islands',
       'Latigo Point / Paradise Cove, west of Malibu, Los Angeles County',
       'Latigo Point / Paradise Cove,west of Malibu, Los Angeles County',
       'Indian Beach, Ecola State Park, just north of Cannon Beach, Clatsop County ',
       'Fort Pierce, St. Lucie County ', 'Playalinda, Brevard County',
       'Shell Island Panama City Beach, Bay County',
       'Sea Pines Beach Club, Hilton Head, Beaufort County',
       'Palm Beach, Palm Beach County',
       'Davenport Light, San Mateo County',
       'Satellite  Beach, Brevard County',
       'Tunitas Beach, San Mateo County',
       'Mustang Island, near Port Aransas',
       'Monastery Beach, Carmel River State Park, Monterey Peninsula, Monterey California',
       'Singer Island, Riviera Beach, Palm Beach County',
       'Point Conception, Santa Barbara County',
       'Fort Pierce Inlet, St Lucie County', 'Bayport, Hernando County',
       'Wabasso Beach, Indian River County',
       '3 miles south of Sebastian Inlet State Park, Indian River County',
       'Boynton Beach, Palm Beach County',
       'Bob Graham Beach, Martin County',
       '"Turnaround", Cape Kiwanda, Tillamook County',
       'Indiatlantic, Brevard County', 'Pigeon Point, San Mateo County',
       'South Padre Island', "Kane'ohe Bay, O'ahu",
       'Virginia Beach, Princess Anne County',
       '6 miles south of Boca Chica Key, Monroe County ',
       'Caloosahatchee River, Lee County',
       'Intracoastal Waterway, Boca Raton, Palm Beach County',
       'North Dade- Interama area of Biscayne Bay',
       'Patrick Air Force Base, Brevard County',
       'Monastery Beach, Carmel Bay, Monterey County',
       'Bear Harbor, Mendocino County',
       'Morro Rock, Morro Bay, San Obispo County',
       'Point Buchon, San Luis Obispo County',
       'Stuart Beach, Martin County ',
       'South Moss Beach, Spanish Bay, Monterey Peninsula',
       'Jupiter Island, Brevard County', 'Tampa Bay, Manatee County',
       'Off Umpqua River', 'Dewey Beach',
       'Haystack Rock, Cannon Beach, Clatsop County',
       'McClure Beach, near Tomales Point, Marin County',
       '12 miles northeast of Mayport,  Duval County',
       'Delray Beach, Palm Beach County',
       'Sebastian, Indian River County',
       'St. Andrews State Park, Bay County', 'Farallon Islands',
       'Usal Creek, Bear Harbor, Mendocino County',
       'Perch Rock, Point Conception, Santa Barbara County',
       'Windy Hill, near Myrtle Beach, Horry County',
       'North of Point Sur, Monterey County',
       'North Farallon Island, Farallon Islands',
       'Franklin Point, San Mateo County', 'Myers Creek',
       'Tomales Point, Marin County',
       'Bird Rock, near Tomales Point, Marin County',
       'Ft. Pierce, St Lucie County', 'Sea Ranch, Sonoma County',
       'Bird Rock, Tomales Point, near Marin County / Sonoma County border',
       'St. Petersburg, Pinnellas County', 'Sarasota County',
       "Makaha, O'ahu", 'Bodega Rock, Sonoma County',
       'Stono Inlet, near Charleston, Charleston County', 'Florida Keys',
       'McArthur Beach, Singer Island, Palm Beach Shores', 'Ventura',
       'Near Key West', 'Key West, Monroe County', 'Fenwick Island',
       'Municipal Bathing area, Riviera Beach, Palm Beach County',
       'Key Biscayne, Miami, Dade County',
       'Reeds Bay, Brigantine, Atlantic County',
       'Ft. Lauderdale, Broward County', 'Bolivar Peninsula',
       'Fernandina Beach, Nassau County',

In [16]:
# En España:

df_spain["location"].unique()

array(['Grao de Moncofa', 'Arenales del Sol', 'Poniente Beach, Benidorm',
       'Sardina del Norte, Gáldar', 'Playa de las Arenas, Valencia '],
      dtype=object)

- ¿Cuántos ataques se han producido en cada área (columna area)?

In [18]:
# En Estados Unidos:

df_usa["location"].value_counts()

New Smyrna Beach, Volusia County                        73
Myrtle Beach, Horry County                               7
Daytona Beach, Volusia County                            7
Melbourne Beach, Brevard County                          6
Ponce Inlet, New Smyrna Beach, Volusia County            5
                                                        ..
Majors Bay, Kaua'i                                       1
Smith Point, Long Island                                 1
Jupiter Inlet                                            1
Normandy Beach, Hutchinson Island,  St. Lucie County     1
Beach Haven, Ocean County                                1
Name: location, Length: 534, dtype: int64

In [19]:
# En España:

df_spain["location"].value_counts()

Grao de Moncofa                   1
Arenales del Sol                  1
Poniente Beach, Benidorm          1
Sardina del Norte, Gáldar         1
Playa de las Arenas, Valencia     1
Name: location, dtype: int64

### 4. Extraed un DataFrame nuevo con los ataques que se han producido en Australia y Estados Unidos. 

📌 Nota: Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el método isin(). 
Hacedlo con ambas herramientas.

In [22]:
df_usa_australia1 = df[(df["country"] == "USA") | (df["country"] == "AUSTRALIA")]
df_usa_australia1.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
21,2018.04.25.a,21,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,09h30,3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
35,2018.03.31,35,2018.0,Unprovoked,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,male,M,25,09h30,"Tiger shark, 12'",http://sharkattackfile.net/spreadsheets/pdf_di...

In [32]:
df_usa_australia2 = df[df["country"].isin(["USA", "AUSTRALIA"])]
df_usa_australia2.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
21,2018.04.25.a,21,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,09h30,3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
35,2018.03.31,35,2018.0,Unprovoked,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,male,M,25,09h30,"Tiger shark, 12'",http://sharkattackfile.net/spreadsheets/pdf_di...

- ¿Cuántos ataques se han producido en cada país?

In [25]:
df_usa_australia1["country"].value_counts()

USA          719
AUSTRALIA    324
Name: country, dtype: int64

- ¿Ha habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

In [35]:
df_usa_australia2[(df_usa_australia2["country"] == "AUSTRALIA") & (df_usa_australia2["activity"] == "Paddling")].head()

Empty DataFrame
Columns: [case_number, unnamed:_0, year, type, country, area, location, activity, name, sex_, age, time, species_, href]
Index: []

In [36]:
df_usa_australia2["activity"].unique()

array(['Paddling', 'Walking', 'Feeding sharks', 'Surfing',
       'Stand-Up Paddleboarding', 'Wading', 'Swimming', 'Spearfishing',
       'Kayaking / Fishing', 'Snorkeling', 'SUP', 'Fishing', 'Kayaking',
       'Body boarding', 'Scuba Diving', 'Surf fishing', 'Floating',
       'SUP Foil boarding', 'Kite surfing', 'Floating in tube',
       'Standing', 'Diving', 'Teasing a shark', 'Paddle boarding',
       'Kayak Fishing', 'Surf-skiing', 'Scallop diving on hookah',
       'Body boarding ', 'Playing in the water', 'Boogie boarding',
       'Playing', 'Surf skiing ', 'Standing / Snorkeling', 'Rowing',
       'Shark fishing', 'Fishing ', 'Kayaking ', 'Body surfing',
       'Diving for lobsters', 'Kiteboarding', 'Diving ',
       'Diving for Abalone', 'Casting a net', 'Boogie Boarding',
       'Playing in the surf', 'Bodyboarding',
       'Swimming or boogie boarding', 'Free diving ',
       'Sitting in the water', 'Scuba diving', 'Diving, feeding sharks',
       'Kite Surfing', 'Washing sand off a speared fish', 'Surfing ',
       'Wakeboarding', 'Diving for abalone', 'Measuring sharks',
       'Wade Fishing', 'Crawling',
       'Diving, but on the surface when bitten by the shark',
       'Treading water', 'Walking out of the water after surfing',
       'Jet skiing',
       "Accidentally stood on hooked shark's tail before attempting to gut it ",
       'Jumping', 'Floating near boat & observing bioluminesce',
       'Jumped into the water', 'Reviving a sedated shark',
       'Swimming / jumping off a jetty', 'Playing soccer in the water',
       'Free diving', 'Boogie boarding, kicked at object in the water',
       'Holding onto an inflatable boat', 'Swimming with boogie board',
       'Diving in aquarium display tank',
       'Scurfing (surfboard being  towed behind a boat)',
       'Wading / fishing & carrying a bag of fish', 'Tandem surfing',
       'Free diving & spearfishing', 'Wading near a fishing net',
       'Standing, stepped on shark',
       'Swimming, wearing black wetsuit & swim fins',
       'Walking, carrying surfboard & stepped on shark',
       'Swimming with pod of dolphins', 'Swimming (using a float)',
       'Fishing from Surfboard', 'Boogie boarding or Surfing',
       'Wading, when he stepped on the shark', 'Shark Fishing',
       'Floating on a raft', 'Fishing, removing the shark from his line',
       'Scallop diving (using surface-supplied air & a POD) ',
       'Surfing, but standing in water alongside board',
       'Swimming / Wading', 'Body-boarding',
       'Swimming /  boogie boarding',
       'Surfing, fell off surfboard & stepped on the shark.',
       'Wreck / Technical diving', 'Swimming ',
       'Standing alongside surfboard', 'Swimming / snorkeling',
       'Swimming / Body surfing', 'Windsurfing, but sitting on his board',
       'Surfing / Wading',
       'Spearfishing, holding mesh bag with speared fish',
       'Surfing, lying on surfboard', "Lying prone in 2' of water",
       'Swimming with dolphins', 'Wading in school of baitfish',
       'Splashing / wading', 'Windsurfing', 'Swimming near pod of whales',
       'Free diving for abalone', 'Surfing (lying prone on his board)',
       'Swimming or paddle boarding',
       'Scuba diving (submerged riding a scooter)',
       'Body boarding or surfing', 'Surfing (sitting on his board)',
       'Wading / Surfing', 'Body surfing, stood up on sandbar',
       'Surfing / Swimming', 'Body Boarding', 'Wade fishing',
       'Swimming breast stoke', 'Dived naked into the water on a bet',
       'Swimming with mask & snorkel', 'Playing / standing',
       'Abalone diving using Hookah (near calving whales)',
       'Abalone diving using Hookah (resting on the surface)',
       'Scuba diving (ascending using scooter)',
       'Commercial diver (submerged or treading water)',
       'Surfing, paddling seawards', 'Jumped off rocks into white water',
       'Hookah diving', 'Riding floatation device',
       'Free diving for abalone (ascending)',
       'Paddling on surfboard or body board',
       'Scuba diving at seal colony', 'Paddling on surfboard',
       'Free diving & spearfishing (ascending)',
       'Standing in waist-deep water, helping his father tend a gill net containing dead fish',
       'Lying on surfboard', 'Spearfishing / free diving',
       'Scuba diving (submerged)', 'Hookah diving for sea urchins',
       'Finning the shark that bit him', 'Swimming behind sailboat',
       'Sitting on surfboard', 'Surfing, collided with shark',
       'Free diving / spearfishing, from paddleboard & floating on the surface',
       "Fishing, stepped on hooked shark's head",
       'Hookah diving for abalone (descending)', 'Feeding fish',
       'Surfing with dolphins', 'Sittting in water with his child',
       'Free diving  & spearfishing (submerged)',
       'Hookah diving for abalone', 'Free diving for scallops',
       'Scuba Diving for lobster (at surface)',
       'Sailing on catamaran & fell into the water',
       'Surfing or body surfing', 'Skindiving',
       'Towing her sister on plastic ski board',
       'Swimming from the New Venture ',
       '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water',
       'Water-skiing', 'Free diving for abalone from Zodiac (submerged)',
       'Paddle Boarding', 'Standing / Wading',
       'Free diving for abalone (surfacing)',
       'Spearfishing / Scuba diving',
       'Hookah diving for abalone (submerged)',
       'Scuba diving & spearfishing', 'Floating on a small orange raft ',
       'Scuba diving for abalone',
       'Scuba diving for abalone (at surface)',
       'Swimming underwater from crayfish cage to a fishing bait',
       'Scuba diving (but on surface)', 'Free diving (but on surface)',
       'Scuba diving & feeding fish', 'Feeding mullet to sharks',
       'Spearfishing using Scuba', 'Standing on sandbar',
       'Pulling shark from the water',
       'Spearfishing, dived to pick up a float line',
       'Anti-sabotage night dive exercise alongside destroyer (Scuba diving)',
       'Free diving, carrying speargun', 'Spearfishing on Scuba',
       'Killing a shark', 'Clamming',
       'Free diving / spearfishing (resting on the surface)',
       'Free diving with seals', 'Surfing, but swimming to his board',
       'Spearfishing using scuba',
       'Attempting to swim across the Atlantic Ocean', 'Skin diving ',
       'Spearfishing / Scuba diving (at surface)',
       'Surf fishing, wading ', 'Spearfishing, pulled shark\x92s tail',
       'Surf fishing in waist-deep water', 'Fishing for albacore',
       'Rolled off raft',
       'Scuba diving, attempting to catch a captive shark',
       'Surfing, pushing board ashore',
       'Swimming with other crew near wharf',
       'Net fishing, picking catch from the net',
       'Walking in chest-deep water', 'Splashing ',
       'Checking fish traps, fell into the water',
       'Collecting aquarium specimens',
       'Fishing, when line became snagged on rock & he dived into water to free it ',
       'Holding shark on leader & dangling it above the water',
       'Fishing, tossing netted shark onboard',
       'Skindiving for abalone (but at surface)',
       'Wading, fishing for flounder', 'Standing in chest-deep water',
       'Trailing the field in a surf race',
       "Swimming at surface through school of feeding 2.5' to 5\x92 sharks",
       "Adrift, hanging onto cushion, after his 17' skiff ran out of gas & capsized 3 miles from shore",
       'Spearfishing (but on surface)', 'Working prawn net',
       'In deep water about 100 yards from his ship',
       'Surfing, but treading water', 'Surfing on air mattress',
       'Swimming, ducking for shells in water 0.9 m deep',
       'Competing in spearfishing championship & towing dead fish',
       'Swimming between  anchored  pearling luggers',
       'Swimming near pier', 'Swimming, attacked at  surf carnival',
       'Diving into water', 'Hunting lobsters in 2.4 m of water',
       'Pearl diving from lugger Whyalla', 'Fishing, setting nets',
       'Body surfing & treading water', 'Fell off surf ski',
       'Body surfing / treading water',
       'Free diving or wading back to shore',
       'Bathing in water 0.9 m deep', 'Lifesaving exhibition',
       'Underwater photography', 'Swimming after a tennis ball',
       'Dog paddling or standing', "Fishing from 32' boat",
       'Diving off jetty',
       'Diving from the lugger San, operated by the Protector of the Aborigines',
       'Refused permission to cross on the ferry, he was swimming across the river',
       'Swimming crawl stroke', 'Diving for trochus',
       'Swimming. Passer-by, Len Bedford, heard him shriek , saw shark leap from the water & swimmer disappeared',
       'Fell overboard, hanging onto lifebuoy', 'Splashing',
       'Swimming in waist-deep water ', 'Swimming in hip-deep water',
       'Swimming on sandbar adjacent to channel',
       'Diving off pier & treading water', 'Standing in knee-deep water',
       'Bathing', 'Swimming with dog near canning factory',
       'Floating on his back', 'Bathing in waist-deep water',
       'Had just dived into water & was swimming',
       "Bathing in 3' to 4' of water", 'Bathing in knee-deep water'],
      dtype=object)

In [38]:
df_australia = df[df["country"] == "AUSTRALIA"]
df_australia.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
21,2018.04.25.a,21,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,09h30,3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
36,2018.03.14,36,2018.0,Unprovoked,AUSTRALIA,Western Australia,Waterman's Bay,Wading,Luke Guy & Finn Bald,M,10,17h35,Wobbegong shark,http://sharkattackfile.net/spreadsheets/pdf_di...
37,2018.03.09.b,37,2018.0,Unprovoked,AUSTRALIA,Victoria,Lorne,Swimming,Rob Crossland,M,69,15h30,3.5 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
38,2018.03.09.a,38,2018.0,Unprovoked,AUSTRALIA,Victoria,Winkipop,Surfing,Lachie Brown,M,18,07h30,1.8 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [41]:
df_australia["activity"].unique()

array(['Feeding sharks', 'Surfing', 'Wading', 'Swimming', 'Walking',
       'Kayaking / Fishing', 'Body boarding', 'Scuba Diving',
       'Surf fishing', 'Fishing', 'Diving', 'Spearfishing', 'Surf-skiing',
       'Scallop diving on hookah', 'Body boarding ', 'Surf skiing ',
       'Rowing', 'Diving for lobsters', 'Snorkeling',
       'Diving for Abalone', 'Paddle boarding', 'Bodyboarding',
       'Scuba diving', 'Diving, feeding sharks',
       'Washing sand off a speared fish', 'Wakeboarding',
       'Diving for abalone', 'Kayaking',
       'Diving, but on the surface when bitten by the shark',
       "Accidentally stood on hooked shark's tail before attempting to gut it ",
       'Swimming / jumping off a jetty',
       'Scurfing (surfboard being  towed behind a boat)',
       'Free diving & spearfishing',
       'Scallop diving (using surface-supplied air & a POD) ',
       'Windsurfing', 'Free diving for abalone',
       'Scuba diving (submerged riding a scooter)',
       'Swimming breast stoke', 'Dived naked into the water on a bet',
       'Playing / standing',
       'Abalone diving using Hookah (near calving whales)',
       'Hookah diving', 'Scuba diving at seal colony', 'Boogie boarding',
       'Finning the shark that bit him', 'Feeding fish',
       'Surfing with dolphins', 'Free diving for scallops',
       'Sailing on catamaran & fell into the water',
       'Swimming from the New Venture ',
       '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water',
       'Scuba diving for abalone',
       'Swimming underwater from crayfish cage to a fishing bait',
       'Scuba diving & feeding fish', 'Feeding mullet to sharks',
       'Spearfishing, dived to pick up a float line',
       'Anti-sabotage night dive exercise alongside destroyer (Scuba diving)',
       'Free diving, carrying speargun', 'Treading water',
       'Free diving with seals', 'Surfing, but swimming to his board',
       'Standing', 'Surfing, pushing board ashore',
       'Swimming with other crew near wharf',
       'Checking fish traps, fell into the water',
       'Collecting aquarium specimens',
       'Fishing, when line became snagged on rock & he dived into water to free it ',
       'Wading, fishing for flounder', 'Free diving', 'Body surfing',
       'Standing in chest-deep water',
       'Trailing the field in a surf race', 'Working prawn net',
       'In deep water about 100 yards from his ship',
       'Surfing, but treading water',
       'Competing in spearfishing championship & towing dead fish',
       'Swimming between  anchored  pearling luggers',
       'Swimming, attacked at  surf carnival', 'Diving into water',
       'Hunting lobsters in 2.4 m of water',
       'Pearl diving from lugger Whyalla', 'Fishing, setting nets',
       'Fell off surf ski', 'Free diving or wading back to shore',
       'Bathing in water 0.9 m deep', 'Lifesaving exhibition',
       'Swimming after a tennis ball', 'Dog paddling or standing',
       'Swimming ', 'Diving off jetty',
       'Diving from the lugger San, operated by the Protector of the Aborigines',
       'Refused permission to cross on the ferry, he was swimming across the river',
       'Diving for trochus',
       'Swimming. Passer-by, Len Bedford, heard him shriek , saw shark leap from the water & swimmer disappeared',
       'Fell overboard, hanging onto lifebuoy', 'Splashing',
       'Swimming in waist-deep water ', 'Swimming in hip-deep water',
       'Swimming on sandbar adjacent to channel',
       'Diving off pier & treading water', 'Standing in knee-deep water',
       'Bathing', 'Body surfing / treading water', 'Floating on his back',
       'Bathing in waist-deep water',
       'Had just dived into water & was swimming',
       "Bathing in 3' to 4' of water", 'Bathing in knee-deep water'],
      dtype=object)

- ¿Cuántos ataques se han producido en Australia antes del 2000?

In [45]:
df_australia[(df_australia["year"] < 2000)]

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
2116,1999.05.29,2123,1999.0,Unprovoked,AUSTRALIA,South Australia,"Hardwicke Bay, Yorke Peninsula",Windsurfing,Tony Donoghue,M,22,14h30,Thought to involve a white shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2129,1999.02.23,2136,1999.0,Unprovoked,AUSTRALIA,New South Wales,Scotts Head,Surfing,male,M,35,Evening,Bronze whaler or tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2174,1998.06.28.a,2181,1998.0,Unprovoked,AUSTRALIA,South Australia,South Neptune Island,Free diving for abalone,Doug Chesser,M,26,14h00,Thought to involve a 5.5 m white shark named Kong,http://sharkattackfile.net/spreadsheets/pdf_di...
2194,1998.01.28.R,2201,1998.0,Invalid,AUSTRALIA,New South Wales,Whale Beach,Spearfishing,male,M,31,20h00,Shark involvement not confirmed,http://sharkattackfile.net/spreadsheets/pdf_di...
2207,1997.11.09,2214,1997.0,Unprovoked,AUSTRALIA,Western Australia,Albany,Scuba diving (submerged riding a scooter),Kevin Hulkes,M,42,Morning,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5359,1912.01.26,5375,1912.0,Unprovoked,AUSTRALIA,New South Wales,"Fig Tree Bridge, Lane Cove River, near Sydney",Swimming,James Edward Morgan,M,21,15h00,"2.8 m [9'3""] whaler shark captured 3 days late...",http://sharkattackfile.net/spreadsheets/pdf_di...
5481,1905.03.26,5498,1905.0,Unprovoked,AUSTRALIA,New South Wales,Lismore,Bathing,Richard Owen,M,40,Morning,5' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5631,1894.11.28,5648,1894.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Bathing,Horace Hewison,M,19,Morning,10' to 12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5667,1892.03.02,5684,1892.0,Provoked,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,Christopher Wang,M,21,Night,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5797,1880.11.25,5814,1880.0,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...

- ¿Y después del 2000?

In [46]:
df_australia[(df_australia["year"] > 2000)]

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
21,2018.04.25.a,21,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,09h30,3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
36,2018.03.14,36,2018.0,Unprovoked,AUSTRALIA,Western Australia,Waterman's Bay,Wading,Luke Guy & Finn Bald,M,10,17h35,Wobbegong shark,http://sharkattackfile.net/spreadsheets/pdf_di...
37,2018.03.09.b,37,2018.0,Unprovoked,AUSTRALIA,Victoria,Lorne,Swimming,Rob Crossland,M,69,15h30,3.5 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
38,2018.03.09.a,38,2018.0,Unprovoked,AUSTRALIA,Victoria,Winkipop,Surfing,Lachie Brown,M,18,07h30,1.8 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1876,2002.02.07,1883,2002.0,Boating,AUSTRALIA,New South Wales,Paramatta River (near Sydney),Kayaking,Paul McNamara,M,35,19h15,C. leucas tooth fragment recovered from kayak,http://sharkattackfile.net/spreadsheets/pdf_di...
1877,2002.01.30.b,1884,2002.0,Unprovoked,AUSTRALIA,New South Wales,Just north of Fingal Spit,Surfing,Andrew Cribb,M,20,20h45 (Sunset),"Tiger shark, 3 m [10']",http://sharkattackfile.net/spreadsheets/pdf_di...
1888,2001.10.02,1895,2001.0,Unprovoked,AUSTRALIA,Queensland,200 miles offshore,Snorkeling,Katherine Jones,F,20,13h00,Bronze whaler shark?,http://sharkattackfile.net/spreadsheets/pdf_di...
1961,2001.04.02.a,1968,2001.0,Unprovoked,AUSTRALIA,New South Wales,Nambucca River Entrance,Surfing,Richard Ellis,M,40,10h00,Bronze whaler shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1969,2001.02.04,1976,2001.0,Unprovoked,AUSTRALIA,New South Wales,Broome Head,Surfing,Mark Butler,M,40,16h15,"Bronze whaler shark, 2.5 m [8.25'] k",http://sharkattackfile.net/spreadsheets/pdf_di...

### 5. Extraed unicamente los ataques a mujeres.

In [49]:
df_mujeres = df[(df["sex_"] == "F")]
df_mujeres.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
40,2018.02.23,40,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...
53,2017.12.31,53,2017.0,Unprovoked,USA,Hawaii,"Hultin's Beach, Oahu",Surfing,Marjorie Mariano,F,54,18h00,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
71,2017.10.22,71,2017.0,Unprovoked,AUSTRALIA,South Australia,Normanville,Kayaking / Fishing,Sarah Williams,F,15,Afternoon,"White shark, 4.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...
75,2017.10.05,75,2017.0,Unprovoked,USA,Hawaii,"Kamaole Beach Park, Maui",Snorkeling,female,F,40,12h30,8' shark,http://sharkattackfile.net/spreadsheets/pdf_di...

### 6. ¿Cuántas mujeres fueron atacadas en España?

In [51]:
df_mujeres[(df_mujeres["country"] == "SPAIN")].head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
98,2017.08.26.b,98,2017.0,Invalid,SPAIN,Castellón,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...

### 7. Extraed los ataques que se hayan producido en el año 2000, 1997 y 2006. 
Utilizad el método isin() para resolver este ejercicio.

In [55]:
df[df["year"].isin([2000.0, 1997.0, 2006.0])].head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
1407,2006.12.18,1412,2006.0,Unprovoked,AUSTRALIA,Victoria,"Winki Pop, Bells Beach",Surfing,Peter Galvin,M,25,20h00,2.5 to 3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1408,2006.12.11,1413,2006.0,Unprovoked,NEW ZEALAND,North Island,"Raglan, Manu Bay",Surfing,Elliot Paerata-Reid,M,10,11h00,2 to 3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1409,2006.12.10,1414,2006.0,Unprovoked,USA,California,"Dillon Beach, Marin County",Surfing,Royce Fraley,M,43,11h50,"White shark, 12' to 15'",http://sharkattackfile.net/spreadsheets/pdf_di...
1410,2006.12.06,1415,2006.0,Provoked,SOUTH AFRICA,KwaZulu-Natal,Cape Vidal,Fishing,Peter Willoughby,M,25,"""Evening""","Raggedtooth shark, 150-kg",http://sharkattackfile.net/spreadsheets/pdf_di...
1411,2006.12.02,1416,2006.0,Unprovoked,AUSTRALIA,Western Australia,Wharton Beach,Body boarding,Zac Golebiowski,M,15,07h30,"White shark, 5m",http://sharkattackfile.net/spreadsheets/pdf_di...

### 8. Si extraemos los valores únicos de la columna species nos podemos dar cuenta que está un poco sucia y extraer informacion útil de la misma se puede convertir en algo difícil. 

En este ejercicio tendréis que extraer los ataques que han ocurrido por tiburón blanco (lo encontraremos en la columna species como algo que contenga white o White). Usad el método str.contains() para resolver este ejercicio.

In [60]:
especies = df[df["species_"].str.contains("white", "White", regex = True)]
especies.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
40,2018.02.23,40,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...
459,2015.01.06,460,2015.0,Unprovoked,BAHAMAS,Abaco Islands,"Tahiti Beach, Elbow Cay",Snorkeling,Lacy Webb,F,34,16h00,White shark or oceanic whitetip shark,http://sharkattackfile.net/spreadsheets/pdf_di...
495,2014.10.02.a,496,2014.0,Unprovoked,AUSTRALIA,Western Australia,"Kelpids Beach, Wylie Bay, Esperance",Surfing,Sean Pollard,M,23,11h00,"2 white shark: 13' & 9""8""",http://sharkattackfile.net/spreadsheets/pdf_di...
553,2014.05.14,555,2014.0,Unprovoked,AUSTRALIA,South Australia,"Elliston, Eyre Peninsula",Surfing,Andrew McLeod,M,35,09h30,"white shark, 15'",http://sharkattackfile.net/spreadsheets/pdf_di...
567,2014.04.03,569,2014.0,Unprovoked,AUSTRALIA,New South Wales,Tathra,Swimming,Christine Armstrong,F,63,08h20,3 m to 4 m white shark,http://sharkattackfile.net/spreadsheets/pdf_di...

### 9. Extraed ahora los ataques por tiburón blanco o tigre. 
Utilizad el método str.contains() para resolver este ejercicio.

In [61]:
df["species_"].unique()

array(['White shark', 'Tiger shark', "Bull shark, 6'", 'Grey reef shark',
       'Invalid incident', '3 m shark', 'White shark, 2.5 m',
       "Tiger shark, 12'", 'Wobbegong shark', '3.5 m shark',
       '1.8 m shark', 'Juvenile white shark,  2.7 to 3.2 m',
       'Bull shark, 2 m', 'small shark', 'White shark, 4.6 m',
       '2 m shark', 'Wobbegong shark, 1 m', 'White shark, 4.5 m',
       'Tiger shark, 8 to 10 feet', "8' shark", 'Questionable',
       "5' to 6' shark", 'White shark, 3 to 3.5m ', 'White shark, 3 m',
       'Shark involvement questionable', "White shark, 5' to 7'",
       'Possibly a juvenile blacktip shark', "4' shark", 'A small shark',
       "White shark, 11' to 13'", "White shark, 8' to 10'",
       "Bull shark, 4' to 5'", 'White shark, 4 m',
       'Shark involvement highly doubtful', "Bull shark, 5' to 7'",
       'Bull shark, 4 m', 'Bull shark, 1 m',
       'Shark involvement not confirmed', 'Wobbegong shark, 2m',
       'Broadnose sevengill shark, 1.5 m', " 6' to 8' shark",
       'White shark, 3.5 m', "3' to 4' shark", "Tiger shark, 10'",
       "Tiger shark, 10' ", 'Blue shark', 'reef shark, 1m',
       "White shark, 10' to 12'", 'dogfish shark', 'Tawny nurse shark',
       "3' to 5' shark", "3' shark",
       "Said to involve an 8' shark but more likely damage caused by debris",
       '3+ m shark', 'Mako shark', "5' shark", "Blacktip shark, 4'",
       "Nurse shark, 2'", "Mako shark, 1.5 m [5'] ",
       'Grey reef shark, 2 m', 'Tiger shark, 2.5 m', "Tiger shark, 14'",
       'Blacktip shark', "9' shark", "Bronze whaler shark, 6'",
       'Galapagos shark', 'Bull shark, 2.8 to 3.1 m', "Spinner shark, 5'",
       'No shark involvement', "Tiger shark, 7'", "Tiger shark, 13' ",
       "4' to 5' shark", "Blacktip shark, 4' to 5'",
       "Blacktip shark, 5' to 6'", 'juvenile shark', "Tiger shark, 13'",
       "6' shark", "White shark, 11' to 12'", 'Hammerhead shark.',
       "White shark, 10' to 12' ", "White shark, 13'",
       "Hammerhead shark. 6' to 7'", "Blacktip or spinner shark, 4'",
       "Thought to involve a 3' to 4' shark, but shark involvement not confirmed",
       'White shark, 3.9 to 4.2 m', "White shark, 7'", "6' to 7' shark",
       'Bull shark', 'White shark, 2m to 3 m', 'Sandtiger shark',
       "Bull shark, 5'", 'Bull shark, 2.5 m', '1m to 1.2 m shark',
       '3- to 4-foot shark', 'White shark, 6 m',
       'Tiger shark, 8 to 12 feet', 'Tiger shark, 3.5 m',
       '3.5 to 4 m shark', '2 m to  3 m shark', 'Bull shark, 1.3 m',
       'White shark or oceanic whitetip shark',
       'Raggedtooth shark, 1.3 m', 'White shark, 4 to 5 m', '1.5 m shark',
       "2' shark", '1 m shark', "8' to 10' shark",
       '2 white shark: 13\' & 9"8"', "7' shark",
       "White shark, 12' to 14'", 'Spinner shark', " Bull shark, 5'",
       "4' tp 5' shark", "6' to 8' shark", " Sandbar shark, 3' to 4'",
       'Bronze whaler shark, 1.5m', " white shark, 15' ",
       '3 m to 4 m white shark',
       'Shark involvement prior to death not confirmed',
       'Blacktip reef shark ', '7-gill shark?',
       'Reported to involve a bull shark', 'White shark, 3m ',
       "Tiger shark, 10' to 12'", "4' to 6' shark",
       ' Wobbegong shark, 1.6 to 1.8m ', 'Tiger shark, 3m ',
       'Thought to involve a white shark', "White shark, 10 '",
       'Blacktip reef shark, 1m', 'Thought to involve a bull shark',
       "Whitetip reef shark, 4' to 6'", 'Nurse shark?', 'Tiger shark?',
       "Bull shark, 8'", "Bull shark, 6' to 8'",
       "Tiger shark, 8' to 10' ", 'Nurse shark', 'a small shark',
       'Grey nurse shark, 3m', 'Possibly a blacktip reef shark',
       'Raggedtooth shark, 1.5 m', 'Tiger shark, 4.8 m',
       'Bronze whaler shark, 2.5m', 'White shark, 4m', 'Lemon shark',
       "Tiger shark, 15'", '2.5 m shark', 'Bull shark, 2m ',
       "Tiger shark, 6'", "10' shark", "2' to 3' shark",
       "Tiger shark, 8'", "Tiger shark, 10' to 12' ",
       "White shark, 15' to 16' ", '2m shark', "3.5' to 4' shark",
       "Lemon shark, 4' to 5' ", 'White shark or bronze whaler',
       'White shark, 5m', "14' to 18'shark", "15' shark",
       'possibly a bull shark', 'a small reef shark',
       'small blacktip shark?', 'Blacktip shark ', 'Blue shark, 2.5m',
       'White shark, 2 m', '18" to 24" shark', 'Bull shark, 3m',
       'White shark, 4 m to 5m ', "Tiger shark, 10'  ",
       'White shark, 4m ', 'Possibly a bull shark',
       "Possibly a 5' to 6' bull shark", 'Tawny nurse shark, 40cm',
       'Tiger shark, 3m', 'White shark, 2.7 m',
       'Allegedly a 4 m tiger shark', 'White shark, 2.5m',
       'Wobbegong shark?', "White shark, 10'", 'Port Jackson shark, 1m',
       'Tiger shark, 2m', "6' shark, possibly a blactip or spinner shark",
       "White shark, >6'", "Possibly a 5' to 6' sandtiger shark",
       '4 m shark', 'Grey reef shark ', 'White shark, 3m to 4m',
       'Bull shark, 3m female', 'Zambesi shark', ' Tiger shark, 2.8m',
       'reef shark, 1.5m', "1' to 2' shark",
       'possibly a bronze whaler shark', 'Bull shark, 2.5m',
       '3 m to 4 m shark', 'Bull shark, 2m', 'White shark x 2',
       'Caribbean reef shark', 'Oceanic whitetip shark, 2.5m ',
       'Mako shark ', 'Oceanic whitetip shark, 2.5m, female',
       "Porbeagle shark, 8' ", "White shark, 14' to 18' ",
       'Bull shark, 1.4m ', 'Possibly a small blacktip shark',
       "Sandtiger shark, 4' to 5'", 'Angel shark', "Blue shark, 7'",
       "Lemon shark, 4'", '20 to 30kg shark', "Lemon shark, 6'",
       "14' shark", "Oceanic whitetip shark, 6'", 'Wobbegong shark, 1.6m',
       'Invalid', 'Zambesi shark, 2m ', "Sandtiger shark, 8'",
       'Thresher shark', 'Spurdog', "White shark, 5' to 6' juvenile ",
       'Bull shark?', "Nurse shark, 6'",
       'Thought to involve a Bronze whale shark, 2m',
       'Shark involvement probable, but not confirmed',
       'Oceanic whitetip shark, 2.5 to 3m', '80 kg shark',
       'blacktip or spinner shark', 'Bronze whaler shark?',
       'Thought to involve a cookie cutter shark', 'Blue shark, 1m',
       '2.6 m shark', 'White shark, 2.5m ', 'Bull shark, 2.7 m ',
       "White shark, 12' ", 'Dusky shark, 2m', 'White shark, 3.5m',
       'Broadnose sevengill shark', 'White shark, 4m to 5m ',
       '4 to 5m white shark', 'Raggedtooth shark, 2m', '5 m white shark',
       "+3' shark", 'Bronze whaler shark',
       "8' bull shark or Caribbean reef shark",
       "8' white shark or 7-gill shark", 'White shark, 2m',
       "4.5 to 5' shark", "White shark, 15'", '2 small bull sharks',
       'Bull shark, 1.8m', "White shark, 12' to 15'",
       'Reported by media as shark attack, but shark involvement prior to death was not confirmed',
       'Shark involvement not confirmed; thought to be a barracuda bite',
       "1.5' to 2' shark", "2.5' shark",
       'A bull shark, according to some of the divers on the boat',
       'Mako shark, 90kg', 'Not a shark attack; it was a hoax',
       '1.5 to 2 m shark', "Blacktip shark, 5'",
       'Oceanic whitetip sharks were in the vicinity', "9.5' shark?",
       "Nurse shark, 2' to 3' ", 'Possibly a spinner shark',
       "White shark, 12'", "Possibly a 6' bull shark", ' ',
       "Possibly a 10' bull shark", 'Bronze whaler shark, 1.5 m ',
       "Bull shark, 5' ",
       'A 10-year-old 94-pound pregnant blacktip reef shark',
       'Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length',
       'Shark involvement prior to death was not confirmed',
       "Tiger shark, 14' ", '"a small shark"', '2 to 2.5 m shark',
       'White shark, 3m', '24" to 30" shark',
       "6' to 8' shark, possibly a tiger shark", '2.5 to 3 m shark',
       '2 to 3 m shark', "White shark, 12' to 15' ",
       'Raggedtooth shark, 150-kg', 'White shark, 5m ',
       '2 m to 3 m shark', "White shark, 16' ", "3' to 3.5' shark",
       'White shark?', 'Angel shark, 1.2m ',
       "5' to 6' spinner or bull shark",
       "Possibly a 1' to 3' blacktip or spinner shark", "14' white shark",
       "Tiger shark, 8' to 12'", "Grey reef shark, 5' to 8' ",
       'Wobbegong shark, 2 m ', "Bull shark, 4' to bull shark",
       'Bronze whaler shark, a  juvenile ',
       'Raggedtooth shark, 2.5 m to 3 m ', "Tiger shark, 5' ",
       'Bronze whaler shark, 2 m', "5' to 7' shark", 'Raggedtooth shark',
       "12' to 18' shark", '3.5 m white shark', 'Whitetip reef shark',
       'Raggedtooth shark, 2.5m ', "12' to 14' white shark",
       "18' white shark", "Tiger shark, less than 10'",
       'Caribbean reef sharks', "14' to 16' white shark",
       "4 m [13'] white shark", 'juvenile white shark',
       'Possibly a sandbar shark or small blacktip shark',
       "1.8 m [6'] shark", "[4.5' to 5'] shark", "[4' to 5']",
       "1.8 m [6'] bull shark",
       'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha',
       'Unknown, but it was reported that a shark tooth was recovered from the wound',
       "Mr. Burgess of ISAF announced the injury was the bite of a 1.8 m [6'], 2- to 3-year old white shark. Subsequent investigation revealed there was  no shark involvement in this incident",
       '"small shark"', "Tiger shark, 3 m [10']", "4 m [13'] shark",
       "6 m [20'] white shark", "Sandtiger shark, 2.1 m [7'] ",
       '4.5 m & 5 m white shark ', "5.5 m [18'] white shark",
       "2.5 m [8.25'] bull shark", "2 m [6.75'] white shark",
       "Bronze whaler shark, 2.4 m [8'] ",
       "Tiger shark, 2.4 m to 3.7 m [8' to 12'] ",
       "Raggedtooth shark, 1.5 to 2 m [5' to 6.75']",
       'Thought to involve a 2.5 m bull or tiger shark',
       "2.4 m [8'] shark", 'Tiger shark, 1.5 m ',
       "4.9 m to 5.5 m [16' to 18'] white shark", "1.2 m [4'] shark",
       "1.2 m to 1.5 m [4' to 5'] shark", '2 sharks, 4.5 m & 3 m ',
       '9\'2" white shark', "Bronze whaler shark, 2.5 m [8.25'] ",
       "0.9 m to 1.5 m [3' to 5'] shark",
       "2.4 m to 3.7 m [8' to 12'] shark",
       "1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)",
       "Mako shark, 1.8 m [6']", "5 m [16.5'] white shark",
       "1.2 m [4'] bull shark", 'bull shark',
       "Tiger shark, 2.4 m to 3 m [8' to 10'] ",
       "2 m [6.75'] sevengill  shark",
       "4 m to 5 m [13' to 16.5'] white shark",
       'Bull shark, 132-kg [291-lb] ', "Tiger shark, 4 m [13']  ?",
       "1.5 m [5'] shark, either a bronze whaler or a grey nurse shark",
       '1.2 m [4\'] "grey-colored shark"', 'Shark involvement doubtful',
       "4.5 m to 5.5 m [15' to 18'] white shark",
       "3.5 m [11.5'] white shark", 'Unidentified species',
       "2.1 m  [7'] bull shark", "106 cm [3.5']  shark",
       '\x93small brown shark\x94', "3.7 m to 4.3 m [12' to 14'] shark",
       '"sand shark"',
       "1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark",
       "0.9 m to 1.2 m [3' to 4'] shark", 'A \x93small\x94 shark',
       '15 cm to 20 cm [6" to 8"] bite diameter just below left knee',
       "Mako shark, 3 m [10']", "2.5 m [8.25'] white shark",
       'Species unidentified',
       "Thought to involve a 2 m [6.75'] grey nurse shark",
       "Thought to involve a >2 m [6.75'] bull shark",
       'White shark, 4 m white shark',
       "3 m to 4.5 m [10' to 15'] white shark",
       "2.4 m to 3 m [8' to 10'] grey colored shark",
       "1.8 m to 2.1 m [6' to 7']\xa0 Caribbean Reef Shark ",
       'Possibly a bull shark or tiger shark',
       'Blacktip or spinner shark', "3.5' to 4.5' shark",
       "1.2 m [4'] blacktip shark", "1.8 m [6'] blacktip shark",
       "Tiger shark, 1.5 m [5']k", "3 m to 3.7 m [10' to 12'] shark",
       'Bull or tiger shark', "1' to 2' hammerhead or bonnethed shark",
       "0.9 m  to 1.2 m [3' to 4'] shark", "Nurse shark, 1.5 m [5'] ",
       "1.2 m [4'] blacktip or sandbar shark",
       "Bull shark, 1.8 m to 2.1 m [6' to 7'] ", 'Mako shark, 400-lb ',
       "1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark",
       "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand",
       '\xa0 ', "1.5 to 2.5 m [5' to 8.25'] copper shark",
       "3.7 m to 4.3 m [12' to 14'] white shark", '1 m  shark',
       "3' blacktip shark", "White shark, 6m [20']",
       'Bull shark, 400-lb ', "3'  shark", "0.9 m [3'] shark",
       'Nurse shark, 1m ', "Spinner shark, 3' to 4' ",
       '1.5 m [5\'] "whaler shark"',
       'C. leucas tooth fragment recovered from kayak', 'Zambesi shark?',
       'Unidentified', "Tiger shark, 1.8 m [6'] ",
       "Tiger shark, 1.8 m [6']",
       'Questionable incident - shark bite may have precipitated drowning',
       "2' to 3.5' shark",
       'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.',
       "1.5 m [5'] shark", "3 m [10'] bull shark",
       'Possibly  a blacktip or spinner shark',
       "3' shark, possibly  a blacktip or spinner shark",
       "Blacktip shark, 5' to 6' ", "1.9 m [6.5'] bull shark",
       "0.9 m  [3'] shark", "Bull shark, 2.3 m [7.5'] ",
       "White shark, 2.4 m to 3 m [8' to 10'] ",
       'Possibly a juvenile blacktip or spinner shark',
       "Possibly a 1.5 m [5'] blacktip or spinner shark",
       "White shark, 2.7 m [9'] ",
       "Bronze whaler shark, 2.5 m [8.25']  k", "6 m [20'] shark",
       "1.2 m to 1.8 m [4' to 6'] shark", "White shark, 4.9 m [16'] ",
       "White shark, 5 m [16.5'] ",
       "Tiger shark, 1.8 m to 2.4 m [6' to 8'] ",
       "2.1 to 2.4 m [7' to 8'] shark", "Blacktip shark, 2' ",
       "White shark, 4 m to 5 m [13' to 16.5'] ", 'White shark, 2.5 m ',
       "60 cm to 90 cm [2' to 3'] shark",
       "White shark, 3.5 m [11.5']  male ", "Tiger shark, 3 m [10'] ",
       "A 2' shark was seen in the area by witnesses",
       "Thought to involve a 2.7 m [9'], 400-lb bull shark",
       'Tiger shark, 3.7 m to 4.5 m [12\' to 14\'9"]  ',
       "Blacktip shark, 2.4 m to 3 m [8' to 10'] ",
       "Tiger shark, 0.9 m to 1.5 m [3' to 5'] ?",
       "Nurse shark, 1.2 m [4'] ",
       "0.9 m [3'] shark,  probably a blacktip or spinner shark",
       "Blacktip shark, 1.2 m to 1.8 m [4' to 6'] ",
       "Shortfin mako shark, 3 m to 3.4 m [10' to 11'] ",
       '1.3 to 1.6 m shark',
       "2.7 m [9']  bull shark or Caribbean reef shark",
       "White shark, 3 m to 5 m [10' to 16.5'] ",
       "Bull shark, 2.1 m [7']", "Blacktip shark, 1.8 m [6'] ",
       "White shark, 4 m [13'] ", "Tiger shark, 2.5 m [8.25']",
       'Grey reef shark, 1.5 m ', '3 bull sharks',
       "3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity",
       'Bronze whaler or tiger shark', "White shark, 4.6 m [15'] ",
       'Possibly a white shark', 'A "small shark"',
       'Though to involve a white shark',
       "White shark, 5 m to 6 m [16.5' to 20'] ",
       "Caribbean reef shark, 1.2 m to 1.5 m [4' to 5'] ",
       "White shark, 4.9 m [16']",
       'Thought to involve a 5.5 m white shark named Kong',
       "3 m to 4 m [10' to 13'] white shark",
       "Lemon shark, 1.5 m [5'], identified  by the surfer",
       "1.8 m [6'] shark, possibly a blacktip", "3 m [10'] shark",
       "3 m [10'] white shark", "5' spinner shark",
       'Small dusky shark or blackfin shark',
       "Tiger shark, 4 m to 4.3 m [13' to 14'] ",
       'Possibly a blacktip shark', '"juvenile shark"',
       '4.5 m white shark', "Tiger shark, 2.7m  [9']",
       "1.2 m [4'] shark (spinner shark?)", 'Possibly a sand shark',
       'Tiger shark, 2m to 3m ', "1.8 m to 2.1 m [6' to 7'] shark",
       'Tiger shark, 4.5 m [14\'9"]',
       "3 m to 5 m [10' to 16.5'] white shark",
       "5.5 m to 6 m [18' to 20'] white shark", '"a young shark"',
       "Tiger shark, 2.4 m [8'] ",
       "1.8 m to 2.1 m [6' to 7'] hammerhead shark",
       "2.5 m [8.25'] white shark ",
       "60 cm to 90 cm [2' to 3'] blacktip or spinner shark",
       '"reef shark"', 'Possibly a tiger shark',
       'Tiger shark, 300-kg [662-lb] ',
       "1.2 m to 1.5 m [4' to 5']   shark",
       "1.5 to 1.8 m [5' to 6'] shark", '"sand" shark',
       "Tiger shark, 3.7 m [12'] ", 'Bronze whaler shark, 2 m ',
       "5 m to 5.5 m [16.5' to 18'] white shark", "2.7 m [9'] shark",
       'Thought to involve a small sand shark', 'Small shark',
       "3 to 3.5 m [10' to 11.5'] bull shark", "1.2 m [4'] spinner shark",
       ">1.8 m [6'] shark", '1.3 m [4\'3"] shark',
       'Tiger shark caught 6 days later with diver\x92s remains in its gut',
       ">6 m [20'] white shark",
       "1.8 m [6'] blacktip shark or Caribbean reef shark",
       "5.5 m to 6 m [18' to 20']  white shark",
       "1.8 m to 2.4 m [6' to 8'] shark, tooth fragments recovered ",
       'Thought to involve a tiger shark',
       "Remains recovered from 5.5 m [18'] white shark",
       "Tiger shark, 3.7 m [12'], (tooth fragment recovered from wound)",
       "Tiger shark, 2.4 m [8']",
       "Tiger shark, 3 m to 4.9 m [10' to 16'] ",
       "Mako shark, 1.8 m [6']  ", "6' to 7' blacktip shark",
       '5 m to 6 m white shark', 'Unidentified shark',
       "Tiger shark, 3 m to 3.7 m [10' to 12'] ",
       "Tiger shark, 4.3 m [14'] ", '4.2 m white shark',
       "4 m to 5 m [13' to 16.5']  white shark ", '4 m white shark',
       'Bull shark or lemon shark', '>2 m shark',
       "5 m [16.5'] white shark, identification by K. Nakaya",
       "Said to involve a 6 m to 7 m [20' to 23'] white shark",
       'Questionable incident', "Bronze whaler shark, 2.3 m [7.5'] ",
       "Zambesi shark, 1.7 m [5.5'] ",
       "Possibly a 1.5 m [5'] blacktip shark",
       "Tiger shark, 2.4 m 3.4 m [8' to 11']  ",
       "5 m to 6 m [16.5' to 20'] white shark",
       "3 m [10'], 270- kg [595-lb] shark", 'sand shark',
       "Tiger shark, 3 to 4 m [10' to 13'] ",
       "2.7 m [9'] bull or lemon shark", "Tiger shark, >3 m [10']",
       "1.8 m [6'] shark ", "4' spinner shark",
       "1.8 m to 2.4 m [6' to 8'] shark", "5 m  [16.5'] white shark",
       "2.5 m to 3 m [8.25' to 10']  white shark",
       '4.5 m [14\'9"] white shark',
       "5.5 m [18'] white shark, identified by witnesses & tooth marks",
       "2.3 m [7.5'] white shark, identified by M. Smale",
       'Tiger shark, 3 m ', "2.7 m [9'] white shark",
       'Shark involvement suspected but not confirmed',
       'White shark, identified by tooth pattern', '150-lb shark',
       "4 m to 5 m [13' to 16.5']  white shark", 'Grey nurse shark',
       ">3.4 m [11'] white shark", "Bronze whaler shark, 3 m [10'] ",
       "Tiger shark, 4 m [13'] ", "2.4 m to 3 m [8' to 10'] white shark",
       'Sand shark?', "1.5 m to 2 m [5' to 6.75'] shark",
       '1 m "grey-colored" shark',
       'Zambezi shark (tooth fragments recovered)', '1.5 m copper shark',
       "2 m [6.75'] shark", "3.5 m [11.5']  white shark",
       '5.7 m white shark', '4.3 m shark', ">2.5 m [8.25'] white shark",
       "1.8 m to 2.1 m [6' to 7'] spinner or blacktip shark",
       "Lemon shark, 1.8 m to 2.4 m [6' to 8'], tooth fragment recovered",
       '1.6 m shark', "1.2 m [4'] dusky shark", '>1 m shark',
       ">2.4 m [8'] white shark", "Raggedtooth shark, 2 m [6.75'] ",
       'Bronze whaler shark, 3.5 m ',
       "2 m to 2.5 m [6.75'  to 8.25'] sixgill or sevengill shark",
       'Possibly a small hammerhead shark',
       '3 m to 3.6 m  [10\' to 11\'9"] white shark',
       '3.5 m white shark, tooth fragments recovered',
       "1.5 m [5'] dusky shark", 'Tiger shark, 4 m ',
       'Shark involvement not confirmed; officials considered barracua',
       'Hammerhead shark?+O2356', '4.5 m to 5 m white shark',
       "2.4 m [8'] white shark",
       "1.2 m to 1.5 m [4' to 5'] hammerhead shark",
       " 1.5 m [5'] dusky shark", 'Raggedtooth shark, 1 m ',
       'Raggedtooth shark, >1 m ', 'Sand shark', "6' to 8' bull shark",
       "Tiger shark, 5 m [16.5']", "3.5' hammerhead shark",
       "Raggedtooth shark, 1.5 m [5'] (tooth fragment recovered)",
       "1.8 m [6'] Zambezi shark",
       'Believed to involve a 2.8 m [9\'3"] white shark',

In [64]:
especies2 = df[(df["species_"].str.contains("[W|w]hite", regex = True)) | (df["species_"].str.contains("[T|t]iger", regex = True))]
especies2.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
18,2018.04.28.b,18,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,male,M,30,10h40,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
23,2018.04.23,23,2018.0,Unprovoked,MALDIVES,Alifu Alifu Atoll,Madoogali,Fishing,Ahmed Rasheed,M,32,21h50,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
24,2018.04.22,24,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,male,M,33,09h40,"White shark, 2.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...

### 10. Utilizando la columna de year cread una nueva columna llamada siglo que tiene siglo-XX o siglo-XXI. 
Donde el año sea menor que 2000 pondremos siglo-XX y el resto de los años siglo-XXI.

In [65]:
df["siglo"] = np.where(df["year"] < 2000, "siglo-XX", "siglo-XXI")
df.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
13,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

### 11. Guardad como un archivo csv nuevo. Lo usaremos en el pair programming de mañana.

In [66]:
df.to_csv("datos/attacks_pandas4.csv")