In [1]:
import pandas as pd
import numpy as np
import random

1. ¬øQu√© diferencia hay entre una Serie y un DataFrame?

Una serie es una estructura unidimensional y un DataFrame es una estructura bidimensional

2. Momento de trabajar con Series. Contestad a las siguientes preguntas:

- Crea dos listas:

    - Una que se llame "valores" que tenga 7 n√∫meros aleatorios.
    - Otra que se llame "indices" que tenga 7 strings que se llamen como los d√≠as de la semana.

In [2]:
valores = random.sample(range(0,11), 7)
valores

[10, 1, 7, 3, 6, 5, 4]

In [3]:
indices = ["lunes", "martes", "miercoles", "jueves", "viernes", "sabado", "domingo"]
indices

['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo']

- A partir de estas dos listas cread una Serie donde la variable "valores" sean los valores de la Serie y la variable indices sean los √≠ndices de la Serie.

In [4]:
serie1 = pd.Series(valores, index = indices)
serie1

lunes        10
martes        1
miercoles     7
jueves        3
viernes       6
sabado        5
domingo       4
dtype: int64

- A partir de las dos listas anteriores cread un diccionario usando un bucle for. Para hacer esto tenemos el m√©todo zip que nos permite iterar por dos listas a la vez

In [16]:
zip1 = zip(indices, valores)
zip1

In [14]:
listzip = list(zip1)
listzip

[('lunes', 10),
 ('martes', 1),
 ('miercoles', 7),
 ('jueves', 3),
 ('viernes', 6),
 ('sabado', 5),
 ('domingo', 4)]

In [21]:
diccionario = {}
for k,v in listzip:
    diccionario.update({k:v})
diccionario

{'lunes': 10,
 'martes': 1,
 'miercoles': 7,
 'jueves': 3,
 'viernes': 6,
 'sabado': 5,
 'domingo': 4}

- Crea una Serie con el diccionario creado en el punto anterior.

In [22]:
serie2 = pd.Series(diccionario)
serie2

lunes        10
martes        1
miercoles     7
jueves        3
viernes       6
sabado        5
domingo       4
dtype: int64

- ¬øQu√© forma tiene esta √∫ltima Serie?

In [23]:
serie2.shape

(7,)

- ¬øQu√© tipo de datos tiene?

In [24]:
serie2.dtype

dtype('int64')

- ¬øQu√© tama√±o tiene?

In [25]:
serie2.size

7

- ¬øCu√°les son los √≠ndices de la Serie?

In [26]:
serie2.index

Index(['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado',
       'domingo'],
      dtype='object')

- ¬øY los values?

In [27]:
serie2.values

array([10,  1,  7,  3,  6,  5,  4])

- Extraed el valor para el √≠ndice "lunes"

In [28]:
serie2.loc["lunes"]

10

- Extraed el valor para el √≠ndice "lunes", "martes" y "mi√©rcoles".

In [29]:
serie2.loc["lunes":"miercoles"]

lunes        10
martes        1
miercoles     7
dtype: int64

- Extraed el valor para el √≠ndice "lunes" y "domingo".

In [37]:
serie2.loc[["lunes", "domingo"]]

lunes      10
domingo     4
dtype: int64

3. Es el turno de los DataFrames

- Cread un array de dos dimensiones con 4 filas y 3 columnas.

In [40]:
array = np.random.randint(0,100, (4,3))
array

array([[80, 71, 12],
       [91,  0, 71],
       [85, 50,  0],
       [22, 61, 55]])

- Convertid el array en un DataFrame donde las columnas se llamen "Espa√±a", "Francia" e "Italia".

In [45]:
df1 = pd.DataFrame(array, columns = ["Espa√±a", "Francia", "Italia"])
df1

   Espa√±a  Francia  Italia
0      80       71      12
1      91        0      71
2      85       50       0
3      22       61      55

- Descargad el archivo "medallas" y cargad el DataFrame con la siguiente l√≠nea de c√≥digo:

df = pd.read_csv("medallas.csv", index_col=["Pa√≠s"])

üìå NOTA Para evitar problemas guardar el archivo medallas.csv a la misma altura (en la misma carpeta) que el jupyter donde estamos trabajando.

In [47]:
df2 = pd.read_csv("medallas.csv", index_col = ["Pa√≠s"])
df2

                 Unnamed: 0   Oro  Plata  Bronce
Pa√≠s
China                     1  1473    994     720
Jap√≥n                     2  1032   1037     985
Corea del Sur             3   745    663     827
Ir√°n                      4   179    181     197
Kazajist√°n                5   155    158     224
India                     6   154    202     315
Tailandia                 7   132    175     278
Indonesia                 8   112    131     240
China Taip√©i              9    99    144     276
Corea del Norte          10    91    120     235

- Usando el loc extraed todas las columnas de la fila.

In [48]:
df2.loc[:0]

TypeError: cannot do slice indexing on Index with these indexers [0] of type int

- Usando el loc extraed todas las columnas de China e Ir√°n.

In [49]:
df2.loc[("China", "Ir√°n"), :]

       Unnamed: 0   Oro  Plata  Bronce
Pa√≠s
China           1  1473    994     720
Ir√°n            4   179    181     197

- Usando el loc extraed solo las columnas de "Oro", "Plata" y "Bronce" de China e Ir√°n.

In [50]:
df2.loc[("China", "Ir√°n"), ("Oro", "Plata", "Bronce")]

        Oro  Plata  Bronce
Pa√≠s
China  1473    994     720
Ir√°n    179    181     197

- Usando el iloc extraed la informaci√≥n de la India. Devolved todas las columnas.

- Usando el iloc extraed todas las columnas de los paises que est√©n en posici√≥n impar. La primera que nos tendr√≠a que salir es Jap√≥n y la √∫ltima Corea del Norte.

- Utilizando el c√≥digo del ejercicio anterior, seleccionad unicamente las columnas "Oro", "Plata" y "Bronce".

- Contestad a las siguientes preguntas:
    - ¬øQu√© pa√≠s consigui√≥ m√°s de 200 medallas de oro?
    - - ¬øQu√© pa√≠s consigui√≥ m√°s de 200 medallas de oro y m√°s de 1000 de plata?
    - ¬øQu√© pa√≠s consigui√≥ m√°s de 200 medallas de oro o m√°s de 700 de bronce?

- Como vemos hay una columna que se llama Unnamed: 0 que no nos interesa. Eliminad esa columna.

- Cread una nueva columma que se llame "total" que sea el resultado de la suma de todas las medallas obtenidas por cada pa√≠s.