# PANDAS VII: Apply

En el ejercicio de ayer estuvimos viendo el groupby y pudimos observar que los datos estaban un poco sucios... üò≠. 

En los ejercicios de hoy pondremos en pr√°ctica los apply, y nos crearemos algunas funciones que nos van a permitir limpiar un poco los datos, para que podamos extraer conclusiones de una forma m√°s sencilla.

Manos a la obra üí™üèΩ! Los objetivos de la clase de hoy son:

In [7]:
import pandas as pd
import numpy as np
import re

In [3]:
df = pd.read_csv("datos/attacks_pandas5.csv")
df.head(1)

,case_number,unnamed:_0_x,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,unnamed:_0_y,fatal_(y/n),injury,date
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,0,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672 entries, 0 to 1671
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   case_number   1672 non-null   object
 1   unnamed:_0_x  1672 non-null   int64
 2   year          1672 non-null   float64
 3   type          1672 non-null   object
 4   country       1662 non-null   object
 5   area          1626 non-null   object
 6   location      1621 non-null   object
 7   activity      1641 non-null   object
 8   name          1663 non-null   object
 9   sex_          1658 non-null   object
 10  age           1518 non-null   object
 11  time          1512 non-null   object
 12  species_      1546 non-null   object
 13  href          1672 non-null   object
 14  siglo         1672 non-null   object
 15  unnamed:_0_y  1672 non-null   int64
 16  fatal_(y/n)   1585 non-null   object
 17  injury        1664 non-null   object
 18  date          1672 non-null   object
 19  mes_ataque    1672 non-null   object
 20  fatal         1573 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 274.4+ KB

### 1. Cread una columna nueva y una funci√≥n que nos de el mes en el que ocurri√≥ el ataque. 

Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la informaci√≥n de mes. 
En ese caso devolved un nulo (NaN).

üí° Pista üí°Pod√©is usar regex.

In [5]:
#  date es object
df["date"].unique()

array(['25-Jun-2018', '03-Jun-2018', '26-May-2018', ..., '1900-1905',
       '1883-1889', '1845-1853'], dtype=object)

In [15]:
def mes_ataque(texto):
    # texto = str(texto)
    patron = "\-(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\-"
    try:
        return "".join(re.findall(patron, texto))
    except:
        return np.nan

In [16]:
a = '25-Jun-2018'
b = '03-Jun-2018'
c = '26-May-2018'
d = '1900-1905'
e = '1883-1889'
f = '1845-1853'

mes_ataque(d)

''

In [17]:
df["mes_ataque"] = df["date"].apply(mes_ataque)

In [22]:
df.tail(20)

,case_number,unnamed:_0_x,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,unnamed:_0_y,fatal_(y/n),injury,date,mes_ataque
1652,ND.0020,6282,0.0,Unprovoked,AUSTRALIA,Queensland,Great Barrier Reef,NaN,3 Japanese divers,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6266,Y,FATAL,1920 -1923,
1653,ND.0019,6283,0.0,Unprovoked,USA,Florida,"Gadsden Point, Tampa Bay",Fishing,James Kelley,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6267,N,2-inch lacerations,Before 1921,
1654,ND.0018,6284,0.0,Unprovoked,VIETNAM,Ba Ria-Vung Tau Province,V?ng T√†u,Swimming around anchored ship,crewman,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6268,N,Foot bitten,Before 1911,
1655,ND.0017,6285,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Crew swimming alongside their anchored ship,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6269,Y,FATAL,Before 1921,
1656,ND.0016,6286,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,4 men were bathing,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6270,Y,FATAL,Before 1921,
1657,ND.0015,6287,0.0,Unprovoked,FIJI,Moala Island,NaN,Wreck of large double sailing canoe,20 Fijians,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6271,Y,"FATAL, 18 people were killed by sharks, 2 sur...",Before 1917,
1658,ND.0014,6288,0.0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6272,N,"""Lost leg""",Before 17-Jul-1916,Jul
1659,ND.0013,6289,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6273,Y,"FATAL, body not recovered but shark was caught...",No date (3 days after preceding incident) & pr...,Jul
1660,ND.0012,6290,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6274,Y,"FATAL, leg stripped of flesh",Before 19-Jul-1913,Jul
1661,ND.0011,6291,0.0,Unprovoked,ASIA?,NaN,NaN,Swimming,Mr. Masury,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6275,N,Foot severed,Before 1911,
1662,ND.0010,6292,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6276,N,Ankle bitten,Circa 1862,
1663,ND.0009,6293,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,NaN,NaN,Blue pointer,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6277,Y,"FATAL, knocked overboard by tail of shark & ca...",Before 1906,
1664,ND.0008,6294,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,NaN,Blue pointer,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6278,Y,FATAL,Before 1906,
1665,ND.0007,6295,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,NaN,Blue pointers,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6279,Y,FATAL,Before 1906,
1666,ND.0006,6296,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,NaN,NaN,Said to involve a grey nurse shark that leapt ...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6280,Y,FATAL,Before 1906,
1667,ND.0005,6297,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6281,Y,FATAL,Before 1903,
1668,ND.0004,6298,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6282,Y,FATAL,Before 1903,
1669,ND.0003,6299,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6283,Y,FATAL,1900-1905,
1670,ND.0002,6300,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8¬∫N, 79¬∫W",NaN,Jules Patterson,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6284,Y,FATAL,1883-1889,
1671,ND.0001,6301,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6285,Y,"FATAL. ""Shark bit him in half, carrying away t...",1845-1853,

In [25]:
df["mes_ataque"].unique()

array(['Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan', 'Dec', 'Nov', 'Oct',
       'Sep', 'Aug', 'Jul', '', 'MarMar'], dtype=object)

In [36]:
df["mes_ataque"].value_counts()

          181
Aug       156
Sep       153
Oct       146
Jul       143
Jun       136
Jan       127
Apr       124
May       105
Dec       104
Mar       101
Nov        99
Feb        96
MarMar      1
Name: mes_ataque, dtype: int64

### 2. Vamos con la columna fatal_(y/n). Lo primero que ten√©is que hacer es evaluar los valores √∫nicos que hay. 

Esperar√≠amos tener solo dos valores: y y n, pero tristemente no ser√° as√≠ üò≠. 
Cread una columna nueva y una funci√≥n que devuelva √∫nicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

In [24]:
df["fatal_(y/n)"].unique()

array(['N', 'Y', nan, 'M', '2017', ' N', 'UNKNOWN'], dtype=object)

In [33]:
df["fatal_(y/n)"].value_counts()

N          1256
Y           317
UNKNOWN       8
 N            2
M             1
2017          1
Name: fatal_(y/n), dtype: int64

In [26]:
def cambiar_fatal(fatal):
    if fatal == 'N':
        return fatal.lower()
    elif fatal == 'Y':
        return fatal.lower()
    else:
        return np.nan

In [27]:
df["fatal"] = df["fatal_(y/n)"].apply(cambiar_fatal)
df.head(10)

,case_number,unnamed:_0_x,year,type,country,area,location,activity,name,sex_,...,time,species_,href,siglo,unnamed:_0_y,fatal_(y/n),injury,date,mes_ataque,fatal
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,0,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,n
1,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,6,Y,FATAL,03-Jun-2018,Jun,y
2,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,8,N,Lower left leg bitten,26-May-2018,May,n
3,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,...,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,10,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018,May,n
4,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,...,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,13,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018,May,n
5,2018.04.28.b,18,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,male,M,...,10h40,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,18,N,"No injury, shark bit scuba gear",28-Apr-2018,Apr,n
6,2018.04.25.a,21,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,...,09h30,3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,21,N,"No injury, knocked off board by shark",25-Apr-2018,Apr,n
7,2018.04.23,23,2018.0,Unprovoked,MALDIVES,Alifu Alifu Atoll,Madoogali,Fishing,Ahmed Rasheed,M,...,21h50,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,23,N,5-inch cut to hand,23-Apr-2018,Apr,n
8,2018.04.22,24,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,male,M,...,09h40,"White shark, 2.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,24,N,"No injury, shark bit hole in ski",22-Apr-2018,Apr,n
9,2018.04.03,34,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Surfing,Ross Spowart,M,...,15h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,34,N,Lacerations to left knee & lower leg,03-Apr-2018,Apr,n

In [28]:
df["fatal"].unique()

array(['n', 'y', nan], dtype=object)

In [35]:
df["fatal"].value_counts()

n    1256
y     317
Name: fatal, dtype: int64

In [32]:
df["fatal"].isnull().sum()

99

### 3. Seguid la misma l√≥gica que en el ejercicio anterior pero con la columna sex.

Pero en este caso vamos a incluir un retito m√°s: En este caso querremos tener dos valores √∫nicos F y M. De nuevo en la columna hay otros car√°cteres raros como 'M ', 'lli', 'N', '.'. En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendr√©is que usar la librer√≠a random). En caso de que sea nulo, que la funci√≥n devuelva nulo (np.nan).

In [38]:
df["sex_"].value_counts()

M      1435
F       222
lli       1
Name: sex_, dtype: int64

In [ ]:
def cambiar_sex(sex):
    if sex == 'M' or sex == 'F':
        return sex
    elif:
        if str(sex).lower() == "nan":
            return np.nan
    else:
        aleatorio = np.random.randint(1,2, (1))

In [76]:
aleatorio = np.random.randint(1,3)
aleatorio

1

### 4. Una vez que hay√°is terminado eliminad las columnas originales conservando las nuevas.

### 5. Guardad el dataframe en un csv que usaremos m√°s adelante.