# PANDAS VII: Apply

En el ejercicio de ayer estuvimos viendo el groupby y pudimos observar que los datos estaban un poco sucios... üò≠. 

En los ejercicios de hoy pondremos en pr√°ctica los apply, y nos crearemos algunas funciones que nos van a permitir limpiar un poco los datos, para que podamos extraer conclusiones de una forma m√°s sencilla.

Manos a la obra üí™üèΩ! Los objetivos de la clase de hoy son:

In [ ]:
import pandas as pd
import numpy as np
import re

In [214]:
df = pd.read_csv("datos/attacks_pandas5.csv")
df.head()

,case_number,unnamed:_0_x,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Y,FATAL,03-Jun-2018
2,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Lower left leg bitten,26-May-2018
3,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018
4,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018

In [215]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672 entries, 0 to 1671
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   case_number   1672 non-null   object
 1   unnamed:_0_x  1672 non-null   int64
 2   year          1672 non-null   float64
 3   type          1672 non-null   object
 4   country       1662 non-null   object
 5   area          1626 non-null   object
 6   location      1621 non-null   object
 7   activity      1641 non-null   object
 8   name          1663 non-null   object
 9   sex_          1658 non-null   object
 10  age           1518 non-null   object
 11  time          1512 non-null   object
 12  species_      1546 non-null   object
 13  href          1672 non-null   object
 14  siglo         1672 non-null   object
 15  fatal_(y/n)   1585 non-null   object
 16  injury        1664 non-null   object
 17  date          1672 non-null   object
dtypes: float64(1), int64(1), object(16)
memory usage: 235.2+ KB

### 1. Cread una columna nueva y una funci√≥n que nos de el mes en el que ocurri√≥ el ataque. 

Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la informaci√≥n de mes. 
En ese caso devolved un nulo (NaN).

üí° Pista üí°Pod√©is usar regex.

In [216]:
# date es object

df["date"].unique()

array(['25-Jun-2018', '03-Jun-2018', '26-May-2018', ..., '1900-1905',
       '1883-1889', '1845-1853'], dtype=object)

In [218]:
# Creamos una funci√≥n que gracias a nuestro patr√≥n, nos devuelva solo el mes en que se produjo el ataque:

def devolver_mes(fecha):
    # Definimos el patr√≥n con regex:
    patron = "\-(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\-"
    
    try:
        return re.findall(patron, fecha)[0].replace("-", " ")
    except:
        return np.nan

In [219]:
df["month"] = df["date"].apply(devolver_mes)

In [220]:
# Comprobamos que los meses se ven correctamente:

df.head()

,case_number,unnamed:_0_x,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date,month
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun
1,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Y,FATAL,03-Jun-2018,Jun
2,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Lower left leg bitten,26-May-2018,May
3,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018,May
4,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018,May

In [221]:
# Y qu√© los que no ten√≠an mes, se han quedado como nulos:

df.tail()

,case_number,unnamed:_0_x,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date,month
1667,ND.0005,6297,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,Y,FATAL,Before 1903,NaN
1668,ND.0004,6298,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,Y,FATAL,Before 1903,NaN
1669,ND.0003,6299,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,Y,FATAL,1900-1905,NaN
1670,ND.0002,6300,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8¬∫N, 79¬∫W",NaN,Jules Patterson,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,Y,FATAL,1883-1889,NaN
1671,ND.0001,6301,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,Y,"FATAL. ""Shark bit him in half, carrying away t...",1845-1853,NaN

In [222]:
df["month"].value_counts()

Aug    156
Sep    153
Oct    146
Jul    143
Jun    136
Jan    127
Apr    124
May    105
Dec    104
Mar    102
Nov     99
Feb     96
Name: month, dtype: int64

In [223]:
df["month"].isnull().sum()

181

### 2. Vamos con la columna fatal_(y/n). Lo primero que ten√©is que hacer es evaluar los valores √∫nicos que hay. 

Esperar√≠amos tener solo dos valores: y y n, pero tristemente no ser√° as√≠ üò≠. 
Cread una columna nueva y una funci√≥n que devuelva √∫nicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

In [225]:
df["fatal_(y/n)"].value_counts()

N          1256
Y           317
UNKNOWN       8
 N            2
M             1
2017          1
Name: fatal_(y/n), dtype: int64

In [226]:
def cambiar_fatal(fatal):
    if fatal == 'N' or fatal == 'Y':
        return fatal
    else:
        return np.nan

In [227]:
df["fatal"] = df["fatal_(y/n)"].apply(cambiar_fatal)
df.head(10)

,case_number,unnamed:_0_x,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date,month,fatal
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,N
1,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Y,FATAL,03-Jun-2018,Jun,Y
2,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Lower left leg bitten,26-May-2018,May,N
3,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018,May,N
4,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018,May,N
5,2018.04.28.b,18,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,male,M,30,10h40,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury, shark bit scuba gear",28-Apr-2018,Apr,N
6,2018.04.25.a,21,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,09h30,3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury, knocked off board by shark",25-Apr-2018,Apr,N
7,2018.04.23,23,2018.0,Unprovoked,MALDIVES,Alifu Alifu Atoll,Madoogali,Fishing,Ahmed Rasheed,M,32,21h50,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,5-inch cut to hand,23-Apr-2018,Apr,N
8,2018.04.22,24,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,male,M,33,09h40,"White shark, 2.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury, shark bit hole in ski",22-Apr-2018,Apr,N
9,2018.04.03,34,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Surfing,Ross Spowart,M,19,15h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Lacerations to left knee & lower leg,03-Apr-2018,Apr,N

In [228]:
df["fatal"].unique()

array(['N', 'Y', nan], dtype=object)

In [229]:
df["fatal"].value_counts()

N    1256
Y     317
Name: fatal, dtype: int64

In [230]:
df["fatal"].isnull().sum()

99

### 3. Seguid la misma l√≥gica que en el ejercicio anterior pero con la columna sex.

Pero en este caso vamos a incluir un retito m√°s: En este caso querremos tener dos valores √∫nicos F y M. De nuevo en la columna hay otros car√°cteres raros como 'M ', 'lli', 'N', '.'. En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendr√©is que usar la librer√≠a random). En caso de que sea nulo, que la funci√≥n devuelva nulo (np.nan).

In [231]:
df["sex_"].value_counts()

M      1435
F       222
lli       1
Name: sex_, dtype: int64

In [ ]:
df["sex_"].isnull().sum()

In [232]:
def cambiar_sex(sex):
    if sex == 'M' or sex == 'F':
        return sex
    elif str(sex).lower() == "nan":
        return np.nan
    else:
        if np.random.randint(0,2) == 0:
            return 'F'
        else:
            return 'M'

In [233]:
df["sex"] = df["sex_"].apply(cambiar_sex)
df.head()

,case_number,unnamed:_0_x,year,type,country,area,location,activity,name,sex_,...,time,species_,href,siglo,fatal_(y/n),injury,date,month,fatal,sex
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,N,F
1,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Y,FATAL,03-Jun-2018,Jun,Y,M
2,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Lower left leg bitten,26-May-2018,May,N,M
3,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,...,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018,May,N,M
4,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,...,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018,May,N,M
5,2018.04.28.b,18,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,male,M,...,10h40,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury, shark bit scuba gear",28-Apr-2018,Apr,N,M
6,2018.04.25.a,21,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,...,09h30,3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury, knocked off board by shark",25-Apr-2018,Apr,N,M
7,2018.04.23,23,2018.0,Unprovoked,MALDIVES,Alifu Alifu Atoll,Madoogali,Fishing,Ahmed Rasheed,M,...,21h50,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,5-inch cut to hand,23-Apr-2018,Apr,N,M
8,2018.04.22,24,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,male,M,...,09h40,"White shark, 2.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury, shark bit hole in ski",22-Apr-2018,Apr,N,M
9,2018.04.03,34,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Surfing,Ross Spowart,M,...,15h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Lacerations to left knee & lower leg,03-Apr-2018,Apr,N,M

In [234]:
df["sex_"].value_counts()

array(['F', 'M', None], dtype=object)

In [ ]:
df["sex_"].isnull().sum()

### 4. Una vez que hay√°is terminado eliminad las columnas originales conservando las nuevas.

In [235]:
df.drop(["date", "fatal_(y/n)", "sex_"], axis = 1, inplace = True)

In [236]:
df.head(1)

,case_number,unnamed:_0_x,year,type,country,area,location,activity,name,age,time,species_,href,siglo,injury,month,fatal,sex
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,"No injury to occupant, outrigger canoe and pad...",Jun,N,F

### 5. Guardad el dataframe en un csv que usaremos m√°s adelante.

In [237]:
df.to_csv("datos/attacks_pandas7.csv")