# PANDAS VI: Groupby

Es el momento de poner en pr치ctica los groupby de pandas. Para esto vamos a trabajar con el csv creado en el ejercicio de pair programming anterior.

##### El objetivo de este ejercicio es agrupar los datos para contestar las siguientes preguntas:

In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv("datos/attacks_pandas5.csv")
df.head(1)

,case_number,unnamed:_0_x,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018

### 1. 쮺u치ntos ataques hubo por pa칤s? Devuelve un DataFrame.
游늷 NOTA: Ordena los resultados de mayor a menor. 

Esto todav칤a no lo hemos visto, pero un DataFrame lo podemos ordenar con .sort_values(). Hay m치s informaci칩n sobre esto en el gitbook.

In [13]:
df_pais =  pd.DataFrame(df.groupby("country")["case_number"].count().sort_values(ascending=False))
df_pais.head()

              case_number
country
USA                   741
AUSTRALIA             343
SOUTH AFRICA          234
BAHAMAS                29
NEW ZEALAND            21

### 2. 쮺u치ntos ataques ha habido por a침o? 

Devuelve un DataFrame. De nuevo ordena los resultados de mayor a menor.

In [14]:
df_a침o =  pd.DataFrame(df.groupby("year")["case_number"].count().sort_values(ascending=False))
df_a침o.head(10)

        case_number
year
0.0             125
2015.0           68
2007.0           57
2012.0           54
2002.0           53
2013.0           48
2005.0           45
2003.0           44
2009.0           42
2008.0           40

### 3. 쮺u치ntos ataques hubo por a침o y sexo? 
Devolved un DataFrame solo del a침o 2000 en adelante.

In [15]:
df_2000 = df[(df["year"] > 2000)]

df_a침o_sexo =  pd.DataFrame(df_2000.groupby(["year", "sex_"])["case_number"].count())
df_a침o_sexo.head(10)

             case_number
year   sex_
2001.0 F               3
       M              26
2002.0 F               6
       M              47
2003.0 F               6
       M              38
2004.0 F               4
       M              35
       lli             1
2005.0 F               7

### 4. Primero extraed solo las filas que correspondan a USA, AUSTRALIA y SOUTH AFRICA.

In [16]:
df_paises = df[(df["country"] == "USA") | (df["country"] == "AUSTRALIA") | (df["country"] == "SOUTH AFRICA")]
df_paises.head()

,case_number,unnamed:_0_x,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
2,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Lower left leg bitten,26-May-2018
3,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018
6,2018.04.25.a,21,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,09h30,3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury, knocked off board by shark",25-Apr-2018
8,2018.04.22,24,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,male,M,33,09h40,"White shark, 2.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury, shark bit hole in ski",22-Apr-2018

In [17]:
df_paises_letal = df_paises[(df_paises["injury"] == "FATAL")]
df_paises_letal.head()

,case_number,unnamed:_0_x,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date
41,2017.04.17.a,155,2017.0,Unprovoked,AUSTRALIA,Western Australia,Kelpies near Wylie Bay,Surfing,Laeticia Brouwer,F,17,16h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Y,FATAL,17-Apr-2017
68,2016.06.05.a,267,2016.0,Unprovoked,AUSTRALIA,Western Australia,Mindarie,Diving,Doreen Collyer,F,60,11h30,3+ m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Y,FATAL,05-Jun-2016
70,2016.05.31,271,2016.0,Unprovoked,AUSTRALIA,Western Australia,"Falcon Beach, Mandurah",Surfing,Ben Gerring,M,29,16h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Y,FATAL,31-May-2016
117,2015.07.25,385,2015.0,Unprovoked,AUSTRALIA,Tasmania,"Lachan Island, Mercury Passage",Scallop diving on hookah,Damien Johnson,M,46,10h00,"White shark, 3.9 to 4.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Y,FATAL,25-Jul-2015
146,2015.02.09,448,2015.0,Unprovoked,AUSTRALIA,New South Wales,Shelly Beach,Surfing,Tadashi Nakahara,M,41,10h00,3.5 to 4 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Y,FATAL,09-Feb-2015

쮺u치ntos de los ataques fueron letales por sexo? Devuelve un DataFrame.

In [18]:
df_pais_sexo = pd.DataFrame(df_paises_letal.groupby("sex_")["case_number"].count())
df_pais_sexo.head()

      case_number
sex_
F               9
M              78

### 5. 쮼n qu칠 pa칤s hubo m치s ataques?
Usando el DataFrame creado en el ejercicio anterior.

In [19]:
df_pais_sexo2 = pd.DataFrame(df_paises_letal.groupby("country")["case_number"].count())
df_pais_sexo2.head()

              case_number
country
AUSTRALIA              52
SOUTH AFRICA           18
USA                    17

### 6. 쯈u칠 y cu치ntos tipos de ataques hubo por pa칤s?

In [20]:
df_pais_sexo2 = pd.DataFrame(df_paises_letal.groupby(["country", "type"])["case_number"].count())
df_pais_sexo2.head()

                         case_number
country      type
AUSTRALIA    Invalid               1
             Unprovoked           51
SOUTH AFRICA Unprovoked           18
USA          Invalid               2
             Unprovoked           15